<!DOCTYPE html>
<html lang="en">
<% include ../component/headAdmin %>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar position-fixed w-100" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                            class=""></i></a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="">
                        <!-- Logo icon -->
                        <b class="logo-icon p-l-10">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="" alt="homep" class="light-logo" />

                        </b>
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                        data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i
                            class=""></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left mr-auto">
                        <li class="nav-item d-none d-md-block"><a
                                class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)"
                                data-sidebartype="mini-sidebar"><i class=" font-24"></i></a></li>

                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-right">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                                    class="font-24 "></i>
                            </a>

                        </li>
                        <!-- ============================================================== -->
                        <!-- End Messages -->
                        <!-- ============================================================== -->

                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href=""
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="" alt="user"
                                    class="rounded-circle" width="31"></a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated">
                                <a class="dropdown-item" href="javascript:void(0)"><i class=" m-r-5 m-l-5"></i> Account
                                    Setting</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)"><i
                                        class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <%- include('../component/sideBarAdmin',{count}) %>
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <div class="ml-auto text-right">
                            <%- include('../component/breadCrumb',{link}) %>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('../component/admin/'+path,{}) %>
        </div>


        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>

    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/jquery.validate.min.js"></script>
    <script src="/public/js/wow.js"></script>
    <script src="/public/admin/popper.min.js"></script>
    <script src="/public/admin/jquery.slimscroll.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/admin/sidebarmenu.js"></script>
    <!-- bootstap bundle js -->

    <script src="/public/js/Toast.js"></script>
    <script src="/public/admin/waves.js"></script>

    <!-- main js -->
    <script src="/public/admin/custom.min.js"></script>
    <script src="/public/admin/pagination.min.js"></script>
    <script src="/public/js/axios.js"></script>
    <script src="/public/js/api/apiAdmin.js"></script>
    <script src="/public/admin/DataTables/datatables.min.js"></script>
    <script src="/public/admin/summernote/summernote-bs4.js"></script>
    <script>
        $(document).ready(function () {
            /// summernote
            function sendFile(file, editor, welEditable) {
                data = new FormData();
                data.append('file', data);
                $.ajax({
                    url: '/admin/tin-tuc/bai-viet/sendImage',
                    type: 'POST',
                    data: data,
                    cache: false,
                    contentType: false,
                    processData: false,
                }).done(function (res) {
                    console.log(res);
                    editor.insertImage(welEditable, res);
                }).fail(function (jqXHR, textStatus, err) {
                    console.log(textStatus + '--' + err);
                })
            }
            $('#summernote').summernote({
                height: 300,
                onImageUpload: function (files, editor, welEditable) {
                    sendFile(files[0], editor, welEditable);
                }
            });

            /// ********************************************
            function simpleTemplating(data) {

                var html = "";
                $.each(data, function (index, ele) {
                    if (!ele.check) {
                        html += "<a href='/admin/gop-y/" + ele._id + "' >";
                        html += " <div class='email-list-item'>";
                        html += "   <div class='email-list-detail'>";
                        html += " <span class='date float-right' style='font-size: 13px; font-weight: 800; padding-top: 2%;'>" + ele.ngay + "</span>";
                        html += "  <span class='from'>" + ele.name + "</span>";
                        html += " <p class='msg'>" + ele.title + "</p>";
                        html += " </div></div></a>";
                    }
                    else {
                        html += " <a href='/admin/gop-y/" + ele._id + "' onclick=updateCheck('" + ele._id + "') >";
                        html += " <div class='email-list-item email-list-item--unread'>";
                        html += " <div class='email-list-detail'>";
                        html += " <span class='date float-right' style='font-size: 13px; font-weight: 800; padding-top: 2%;'>" + ele.ngay + "</span>";
                        html += "  <span class='from'>" + ele.name + "<img src='/public/images/new.svg' alt='tin mới'  width='50px'></span>";
                        html += " <p class='msg'>" + ele.title + "</p>";
                        html += "</div></div></a>";
                    }

                });
                return html;
            }
            $('.btnNews').click(function () {
                console.log(123);
                $('.listNews').removeClass('active').addClass('hide');
                $('.addNews').removeClass('hide').addClass('active');
            });
            $('.btnExit').click(function () {
                console.log(123);
                $('.addNews').removeClass('active').addClass('hide');
                $('.listNews').removeClass('hide').addClass('active');
            });

            /****************************************
             *       Basic Table                   *
             ****************************************/
            $('#zero_config').DataTable();
            $('.email-list').pagination({
                totalNumber: function (done) {
                    $.ajax({
                        type: 'GET',
                        url: '/admin/gop-y/getList',
                        success: function (res) {
                            done(res.total);
                        }
                    });
                },
                dataSource: function (done) {
                    $.ajax({
                        type: 'GET',
                        url: '/admin/gop-y/getList',
                        success: function (res) {
                            console.log(res.data);
                            done(res.data);
                        }
                    });
                },
                pageSize: 7,
                showNavigator: false,
                autoHidePrevious: true,
                autoHideNext: true,
                className: 'phanTrang',
                classPrefix: 'email-list',
                ajax: {
                    beforeSend: function () {
                        $('.paginationGY').html("<img src='public/images/loading.svg'/>");
                    }
                },
                callback: function (data, pagination) {
                    // template method of yourself
                    console.log(data);
                    var html = simpleTemplating(data);
                    $('.paginationGY').html(html);
                }
            });


        })
    </script>
</body>

</html>