<!DOCTYPE html>
<html lang="en">
<% include ../component/headAdmin %>

<body>
    <div class="dashboard-main-wrapper">
         <!-- sidebar -->
            <%- include('../component/sideBarAdmin',{user}) %>
          <!-- End sidebar -->  
    </div>
</body>
<script src="/public/js/jquery.min.js"></script>
<!-- bootstap bundle js -->
<script src="/public/js/bootstrap.bundle.js"></script>
<!-- slimscroll js -->
<script src="/public/js/jquery.slimscroll.js"></script>
<!-- main js -->
<script src="/public/js/main-js.js"></script>
</html>