<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../component/head %>
    <link rel="stylesheet" href="/public/stylesheets/scss/sideBar.css">
    <link rel="stylesheet" href="/public/stylesheets/scss/tinChung.css">
</head>

<body>
    <% include ../component/header %>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3">
                <% include ../component/sideBar %>
            </div>
            <div class="col-md-9">
                <div class="tinChung bg-light shadow card">
                    <div class="headTinChung shadow-sm">
                        <h5><a href="/"> <i class="fas fa-angle-double-right pr-3 pl-3"></i>TRUYỀN THỐNG-LỊCH SỬ QUẬN GÒ
                                VẤP</a></h5>
                    </div>
                    <div class="contentTinChung mt-3">
                        <h5 class="text-center">NÂNG CAO TỶ LỆ NGƯỜI DÂN SỬ DỤNG DỊCH VỤ CÔNG TRỰC TUYẾN CHÍNH LÀ ĐẢM BẢO TÍNH CÔNG KHAI,
                            MINH BẠCH TRONG QUY TRÌNH GIẢI QUYẾT THỦ TỤC HÀNH CHÍNH</h5>
                        <div class="timeViet bg-secondary w-75 ml-3 text-white">
                            <span>Chủ nhật, Ngày 21/04/2019, 07:55 CH</span>
                        </div>
                        <div class="contentBaiViet mt-3 p-1">
                            <img class="img-fluid" src="/public/images/tin/ct-bai-viet.jpg" alt="">
                            <p>(WEBGOVAP) – Ngày 20.4.2019, Quận ủy tổ chức hội nghị chuyên đề “Cách làm, giải pháp nâng
                                cao tỷ lệ người dân thực hiện dịch vụ công trực tuyến mức độ 3, 4 trên địa bàn Quận”.
                                Đến dự có đại diện Ban Dân vận Thành ủy, đồng chí Nguyễn Trí Dũng – Phó Bí thư Thường
                                trực Quận ủy chủ trì và kết luận hội nghị, đồng chí Trần Thị Thanh Nhàn - UVTV Quận ủy -
                                Trưởng Ban Dân vận Quận ủy, các đồng chí lãnh đạo cấp ủy các Chi – Đảng bộ cơ sở, ban
                                ngành – đoàn thể Quận cùng các đồng chí Ban chỉ đạo cải cách hành chính Quận và 16
                                Phường...</p>
                            <img class="img-fluid" src="/public/images/tin/ct-bai-viet-1.jpg" alt="">
                            <span>
                                Đồng chí Dương Văn Xướng - Phó Ban Dân vận Quận ủy <br>
                                báo cáo đề dẫn chuyên đề “Cách làm, giải pháp nâng cao tỷ lệ người dân <br>
                                thực hiện dịch vụ công trực tuyến mức độ 3, 4 trên địa bàn Quận”.
                            </span>
                            <img class="img-fluid" src="/public/images/tin/ct-bai-viet-2.jpg" alt="">
                            <span>
                                Đồng chí Nguyễn Thị Minh Tâm – Phó Chánh Văn phòng trình bày báo cáo tham luận <br>
                                về “Công tác tuyên truyền, hướng dẫn nộp hồ sơ dịch vụ công trực tuyến trên địa bàn
                                Quận”.
                            </span>
                            <img class="img-fluid" src="/public/images/tin/ct-bai-viet-3.jpg" alt="">
                            <span>
                                Đại diện Phòng Quản lý đô thị Quận báo cáo tham luận

                            </span>
                            <img class="img-fluid" src="/public/images/tin/ct-bai-viet-4.jpg" alt="">
                            <span>Đại diện UBND Phường 3 báo cáo tham luận</span>
                            <p>Hội nghị đã tập trung thảo luận sôi nổi nội dung chuyên đề sau khi Ban Dân vận Quận ủy
                                báo cáo đề dẫn cũng như báo cáo tham luận của một số đơn vị cơ sở về ý nghĩa, mục đích,
                                vai trò và hiệu quả của việc đẩy mạnh dịch vụ công trực tuyến trong cải cách hành chính,
                                đem lại phục vụ tốt nhất cho người dân và doanh nghiệp, góp phần xây dựng Chính quyền
                                điện tử theo Nghị quyết số 36a/NQ-CP ngày 14.10.2015 của Chính phủ về Chính phủ điện tử;
                                Quyết định số 6179/QĐ-UBND ngày 23.11.2017 của Ủy ban nhân dân Thành phố Hồ Chí Minh về
                                phê duyệt Đề án “Xây dựng Thành phố Hồ Chí Minh trở thành đô thị thông minh giai đoạn
                                2017 - 2020, tầm nhìn đến năm 2025”, Kế hoạch triển khai thực hiện Đô thị thông minh tại
                                Quận Gò Vấp giai đoạn 2018 – 2020 của Ủy ban Nhân dân Quận.</p>
                            <p>Đáng chú ý trong số các nội dung tham luận tại hội nghị có báo cáo tham luận của Văn
                                phòng HĐND – UBND Quận do đồng chí Nguyễn Thị Minh Tâm – Phó Chánh Văn phòng trình bày
                                về “Công tác tuyên truyền, hướng dẫn nộp hồ sơ dịch vụ công trực tuyến trên địa bàn
                                Quận” đáp ứng mục tiêu đẩy mạnh phát triển Chính quyền điện tử; nâng cao chất lượng,
                                hiệu quả hoạt động của các cơ quan nhà nước, phục vụ người dân và doanh nghiệp ngày càng
                                tốt hơn; công khai, minh bạch hoạt động của các cơ quan nhà nước trên môi trường mạng.
                            </p>

                        </div>
                    </div>
                    <div class="tinDaDua">
                        <h5>TIN ĐÃ ĐƯA</h5>
                        <ul>
                            <li><a href="">
                                    40 NĂM QUẬN GÒ VẤP - THÀNH PHỐ HỒ CHÍ MINH 2.7
                                </a></li>
                            <li><a href="">
                                    Gò Vấp đã được khai phá từ những ngày đầu khi lưu dân Việt đi mở đất từ cuối thế kỷ
                                    XVI đầu thế kỷ XVII. Năm 1698, khi Lễ...
                                </a></li>
                            <li><a href="">
                                    Trong những thành tựu đáng tự hào của quê hương Gò Vấp sau 30 năm giải phóng, những
                                    kết quả vượt trội của ngành GDĐT thật xứng với danh hiệu...
                                </a></li>
                            <li><a href="">
                                    40 NĂM QUẬN GÒ VẤP - THÀNH PHỐ HỒ CHÍ MINH 2.7
                                </a></li>
                        </ul>
                    </div>
                    <div class="comment w-100">
                        <h5><i class="fas fa-comment-dots"></i> Bình luận</h5>
                        <form action="" method="get" class="p-2">
                            <div class="form-group">
                                <textarea id="comment" class="form-control" placeholder="Ý kiến của bạn.." cols="30" rows="5"></textarea>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include ../component/footer %>
</body>

</html>