<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../component/head %>
    <link rel="stylesheet" href="/public/stylesheets/scss/sideBar.css">
    <link rel="stylesheet" href="/public/stylesheets/scss/tinChung.css">
</head>

<body>
    <% include ../component/header %>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3">
                <% include ../component/sideBar %>
            </div>
            <div class="col-md-9">
                <div class="tinChung bg-light shadow card">
                    <div class="headTinChung shadow-sm">
                        <h5><a href="/"> <i class="fas fa-angle-double-right pr-3 pl-3"></i>TRUYỀN THỐNG-LỊCH SỬ QUẬN GÒ
                                VẤP</a></h5>
                    </div>
                    <div class="contentTinChung mt-3">
                        <ul>
                            <li>
                                <a href="/bai-viet">
                                    <img src="/public/images/tin/truyen-thong.jpg" alt="">
                                    <span>
                                        TRƯỜNG SỸ QUAN KỸ THUẬT QUÂN SỰ TRẦN ĐẠI NGHĨA - MÁI TRƯỜNG ĐẠI HỌC RẤT ĐỖI TỰ
                                        HÀO
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/bai-viet">
                                    <img src="/public/images/tin/go-vap.jpg" alt="">
                                    <span>
                                        TRƯỜNG SỸ QUAN KỸ THUẬT QUÂN SỰ TRẦN ĐẠI NGHĨA - MÁI TRƯỜNG ĐẠI HỌC RẤT ĐỖI TỰ
                                        HÀO
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/bai-viet">
                                    <img src="/public/images/tin/truyen-thong.jpg" alt="">
                                    <span>
                                        TRƯỜNG SỸ QUAN KỸ THUẬT QUÂN SỰ TRẦN ĐẠI NGHĨA - MÁI TRƯỜNG ĐẠI HỌC RẤT ĐỖI TỰ
                                        HÀO
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/bai-viet">
                                    <img src="/public/images/tin/truyen-thong.jpg" alt="">
                                    <span>
                                        TRƯỜNG SỸ QUAN KỸ THUẬT QUÂN SỰ TRẦN ĐẠI NGHĨA - MÁI TRƯỜNG ĐẠI HỌC RẤT ĐỖI TỰ
                                        HÀO
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/bai-viet">
                                    <img src="/public/images/tin/truyen-thong.jpg" alt="">
                                    <span>
                                        TRƯỜNG SỸ QUAN KỸ THUẬT QUÂN SỰ TRẦN ĐẠI NGHĨA - MÁI TRƯỜNG ĐẠI HỌC RẤT ĐỖI TỰ
                                        HÀO
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/bai-viet">
                                    <img src="/public/images/tin/truyen-thong.jpg" alt="">
                                    <span>
                                        TRƯỜNG SỸ QUAN KỸ THUẬT QUÂN SỰ TRẦN ĐẠI NGHĨA - MÁI TRƯỜNG ĐẠI HỌC RẤT ĐỖI TỰ
                                        HÀO
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tinDaDua">
                        <h5>TIN ĐÃ ĐƯA</h5>
                        <ul>
                            <li><a href="">
                                    40 NĂM QUẬN GÒ VẤP - THÀNH PHỐ HỒ CHÍ MINH 2.7
                            </a></li>
                            <li><a href="">
                                    Gò Vấp đã được khai phá từ những ngày đầu khi lưu dân Việt đi mở đất từ cuối thế kỷ XVI đầu thế kỷ XVII. Năm 1698, khi Lễ...
                            </a></li>
                            <li><a href="">
                                    Trong những thành tựu đáng tự hào của quê hương Gò Vấp sau 30 năm giải phóng, những kết quả vượt trội của ngành GDĐT thật xứng với danh hiệu...
                            </a></li>
                            <li><a href="">
                                    40 NĂM QUẬN GÒ VẤP - THÀNH PHỐ HỒ CHÍ MINH 2.7
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include ../component/footer %>
</body>

</html>