<%
    img='/public/images/bg-page.jpg';
    let menuItem=[
    {item:"TRANG CHỦ",link:"/"},
    {item:"GIỚI THIỆU",link:"/gioi-thieu"},
    {item:"TIN TỨC SỰ KIỆN",link:"/tin-tuc-su-kien"},
    {item:"QUY HOẠCH VÀ PHÁT TRIỂN",link:"/quy-hoach-va-phat-trien"},
    {item:"CÔNG DÂN",link:"/cong-dan"},
    {item:"DOANH NGHIỆP",link:"/doanh-nghiep"},
    {item:"DU LỊCH",link:"/du-lich"},
  ]
 %>
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../component/head %>
    <link rel="stylesheet" href="/public/stylesheets/scss/sideBar.css">
    <link rel="stylesheet" href="/public/stylesheets/scss/tinChung.css">
</head>

<body class="mw-100 m-0 p-0 " style="background-image: url('<%= img %>');">
    <div class="container p-0 allPage">
        <% include ../component/header %>
        <div id="bodyPage">
            <div class="w-100">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Library</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="tinChung ">
                        <div class="headTinChung">
                            <h3><a href="/"></i>TRUYỀN THỐNG-LỊCH SỬ
                                    QUẬN GÒ
                                    VẤP</a></h3>
                        </div>
                        <div class="contentTinChung">
                            <ul>
                                <li>
                                    <a href="/bai-viet">
                                        <img src="/public/images/tin/truyen-thong.jpg" alt="">
                                    </a>
                                    <span>
                                        <a href="/bai-viet">
                                            <h3>TRƯỜNG SỸ QUAN KỸ THUẬT QUÂN SỰ TRẦN ĐẠI NGHĨA - MÁI TRƯỜNG ĐẠI HỌC RẤT
                                                ĐỖI
                                                TỰ
                                                HÀO
                                            </h3>
                                        </a>
                                        <p><i class="fas fa-clock pr-2"></i>5/5/2019</p>
                                        <p>Lommodo ligula eget dolor. Aenean massa. Cum sociis que penatibus et magnis
                                            dis parturient…</p>
                                        <a href="" class="btn w-25 mt-3">Xem thêm</a>
                                    </span>
                                </li>
                                <li>
                                    <a href="/bai-viet">
                                        <img src="/public/images/tin/truyen-thong.jpg" alt="">
                                    </a>
                                    <span>
                                        <a href="/bai-viet">
                                            <h3>TRƯỜNG SỸ QUAN KỸ THUẬT QUÂN SỰ TRẦN ĐẠI NGHĨA - MÁI TRƯỜNG ĐẠI HỌC RẤT
                                                ĐỖI
                                                TỰ
                                                HÀO
                                            </h3>
                                        </a>
                                        <p><i class="fas fa-clock pr-2"></i>5/5/2019</p>
                                        <p>Lommodo ligula eget dolor. Aenean massa. Cum sociis que penatibus et magnis
                                            dis parturient…</p>
                                        <a href="" class="btn w-25 mt-3">Xem thêm</a>
                                    </span>
                                </li>
                                <li>
                                    <a href="/bai-viet">
                                        <img src="/public/images/tin/truyen-thong.jpg" alt="">
                                    </a>
                                    <span>
                                        <a href="/bai-viet">
                                            <h3>TRƯỜNG SỸ QUAN KỸ THUẬT QUÂN SỰ TRẦN ĐẠI NGHĨA - MÁI TRƯỜNG ĐẠI HỌC RẤT
                                                ĐỖI
                                                TỰ
                                                HÀO
                                            </h3>
                                        </a>
                                        <p><i class="fas fa-clock pr-2"></i>5/5/2019</p>
                                        <p>Lommodo ligula eget dolor. Aenean massa. Cum sociis que penatibus et magnis
                                            dis parturient…</p>
                                        <a href="" class="btn w-25 mt-3">Xem thêm</a>
                                    </span>
                                </li>
                                <li>
                                    <a href="/bai-viet">
                                        <img src="/public/images/tin/truyen-thong.jpg" alt="">
                                    </a>
                                    <span>
                                        <a href="/bai-viet">
                                            <h3>TRƯỜNG SỸ QUAN KỸ THUẬT QUÂN SỰ TRẦN ĐẠI NGHĨA - MÁI TRƯỜNG ĐẠI HỌC RẤT
                                                ĐỖI
                                                TỰ
                                                HÀO
                                            </h3>
                                        </a>
                                        <p><i class="fas fa-clock pr-2"></i>5/5/2019</p>
                                        <p>Lommodo ligula eget dolor. Aenean massa. Cum sociis que penatibus et magnis
                                            dis parturient…</p>
                                        <a href="" class="btn w-25 mt-3">Xem thêm</a>
                                    </span>
                                </li>
                                <li>
                                    <a href="/bai-viet">
                                        <img src="/public/images/tin/truyen-thong.jpg" alt="">
                                        <span>
                                            TRƯỜNG SỸ QUAN KỸ THUẬT QUÂN SỰ TRẦN ĐẠI NGHĨA - MÁI TRƯỜNG ĐẠI HỌC RẤT ĐỖI
                                            TỰ
                                            HÀO
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/bai-viet">
                                        <img src="/public/images/tin/truyen-thong.jpg" alt="">
                                        <span>
                                            TRƯỜNG SỸ QUAN KỸ THUẬT QUÂN SỰ TRẦN ĐẠI NGHĨA - MÁI TRƯỜNG ĐẠI HỌC RẤT ĐỖI
                                            TỰ
                                            HÀO
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tinDaDua">
                            <h5>TIN ĐÃ ĐƯA</h5>
                            <ul>
                                <li><a href="">
                                        40 NĂM QUẬN GÒ VẤP - THÀNH PHỐ HỒ CHÍ MINH 2.7
                                    </a></li>
                                <li><a href="">
                                        Gò Vấp đã được khai phá từ những ngày đầu khi lưu dân Việt đi mở đất từ cuối thế
                                        kỷ
                                        XVI đầu thế kỷ XVII. Năm 1698, khi Lễ...
                                    </a></li>
                                <li><a href="">
                                        Trong những thành tựu đáng tự hào của quê hương Gò Vấp sau 30 năm giải phóng,
                                        những
                                        kết quả vượt trội của ngành GDĐT thật xứng với danh hiệu...
                                    </a></li>
                                <li><a href="">
                                        40 NĂM QUẬN GÒ VẤP - THÀNH PHỐ HỒ CHÍ MINH 2.7
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <% include ../component/sideBar %>
                </div>
                <div class="col-12 col-md-12">
                        <% include ../component/footer %>
                </div>
            </div>
        </div>
    </div>
   

    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/function/menu.js"></script>
    <script src="/public/slick/slick.min.js"></script>
    <script src="/public/js/wow.js"></script>
    <script src="/public/js/owl.carousel.min.js"></script>
    <script src="/public/js/SmoothScroll.js"></script>
    <script src="/public/js/function/carouselHome.js"></script>
</body>

</html>