<!DOCTYPE html>
<html>
<% include ../component/head %>

<body class="mw-100 m-0 p-0 bg-dark ">
  <% include ../component/header %>
  <div class="banner">
    <img class="img-fluid" src="/public/images/slide1.jpg" alt="">
  </div>
</body>

</html>