<!DOCTYPE html>
<html>
<% include ../component/head %>

<body class="mw-100 m-0 p-0 ">
  <header class="w-100 ">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8">
          <div class="contact">
            <p><i class="fas fa-phone-volume pr-3"></i><strong>(028) 38941929</strong></p>
            <p><i class="far fa-envelope pl-3 pr-3"></i><strong>bantingovap@gmail.com</strong></p>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="search">
            <form action="" method="get">
              <input type="text" placeholder="Nhập từ khóa....">
              <button><i class="fas fa-search"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </header>

</body>

</html>