<%
  var linkImg=['/public/images/cong-truc-tuyen.jpg',
    '/public/images/do-thi-thong-minh.jpg',
    '/public/images/kenh-tuong-tac.jpg',
    '/public/images/thu-tuc-hanh-chinh.jpg',
    '/public/images/tra-cuu.jpg'
  ];
 %>
<!DOCTYPE html>
<html>
<% include ../component/head %>

<body class="mw-100 m-0 p-0 ">
 <% include ../component/header %>
 <% include ../component/mainHome %>
 <% include ../component/footer %>
 
 
 
</body>

</html>