<%
    img='/public/images/bg-page.jpg';
 %>
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../component/head %>
    <link rel="stylesheet" href="/public/stylesheets/scss/sideBar.css">
    <link rel='stylesheet' href='/public/stylesheets/scss/kenhTuongTac.css' />
    <link rel='stylesheet' href='/public/stylesheets/scss/tinChung.css' />
</head>

<body class="mw-100 m-0 p-0 " style="background-image: url('<%= img %>');">
    <div class="container p-0 allPage">
        <% include ../component/header%>
        <div class="container ">
            <div class="row pt-4">
                <div class="col-md-8">
                    <div class="tuongTacBox bg-light">
                        <h5 class="text-center">BAN TIẾP CÔNG DÂN QUẬN GÒ VẤP</h5>
                        <div class="contentTuongTac mt-5">
                            <div class="row m-0">
                                <div class="col-md-3 border border-secondary ">
                                    <img class="img-fluid" src="/public/images/hadung.jpg" alt="">
                                </div>
                                <div class="col-md-5 border border-secondary text-center">
                                    <p>Hoàng Anh Dũng <br>
                                        Phó Chánh Văn phòng</p>
                                </div>
                                <div class="col-md-4 border border-secondary text-center">
                                    <span>
                                        0838.943.830
                                        <a href="">hadung.govap@tphcm.gov.vn</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <% include ../component/sideBar %>
                </div>
            </div>
        </div>
    </div>
    <% include ../component/footer%>

</body>

</html>