<div class="hoatDong wow slideInUp">
    <div class="headCate">
        <h5>
            <span>HOẠT ĐỘNG</span>
        </h5>
        <div class="subCate">
            <ul>
                <li>ĐẢNG BỘ</li>
                <li>HỘI ĐỒNG NHÂN DÂN</li>
                <li>ỦY BAN NHÂN DÂN</li>
            </ul>
        </div>
    </div>
    <div class="contentCate mt-3">
        <div class="cateClassify activeCate">
            <div class="row">
                <div class="col-md-6 mainCate ">
                    <a href="">
                        <img src="/public/images/tin/2019-tin-2.jpg" class="img-fluid" alt="">
                        <h4 class="d-inline-block text-truncate"> 1 Nhà giáo trẻ tiêu biểu 2019</h4>
                        <p><i class="fas fa-clock pr-2"></i>5/5/2019</p>
                    </a>
                </div>
                <div class="col-md-6">
                    <div class="cateItem">
                        <ul>
                            <li>
                                <a href="">
                                    <div>
                                        <img src="/public/images/tin/2019-tin-2.jpg" class="img-fluid" alt="">
                                    </div>
                                    <span>
                                        <p>THỰC SỰ PHỤC VỤ NHÂN DÂN BẰNG "TÂM PHẢI SÁNG" VÀ "TẦM
                                            PHẢI
                                            GIỎI"
                                        </p>
                                        <p><i class="fas fa-clock pr-2"></i>5/5/2019</p>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div>
                                        <img src="/public/images/tin/2019-tin-2.jpg" class="img-fluid" alt="">
                                    </div>
                                    <span>
                                        <p>THỰC SỰ PHỤC VỤ NHÂN DÂN BẰNG "TÂM PHẢI SÁNG" VÀ "TẦM
                                            PHẢI
                                            GIỎI"
                                        </p>
                                        <p><i class="fas fa-clock pr-2"></i>5/5/2019</p>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div>
                                        <img src="/public/images/tin/2019-tin-2.jpg" class="img-fluid" alt="">
                                    </div>
                                    <span>
                                        <p>THỰC SỰ PHỤC VỤ NHÂN DÂN BẰNG "TÂM PHẢI SÁNG" VÀ "TẦM
                                            PHẢI
                                            GIỎI"
                                        </p>
                                        <p><i class="fas fa-clock pr-2"></i>5/5/2019</p>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="cateClassify">
            <div class="row">
                <div class="col-md-6 mainCate ">
                    <a href="">
                        <img src="/public/images/tin/2019-tin-2.jpg" class="img-fluid" alt="">
                        <h4>2 Nhà giáo trẻ tiêu biểu 2019</h4>
                    </a>
                </div>
                <div class="col-md-6">
                    <div class="cateItem">
                        <ul>
                            <li>
                                <a href="">
                                    <div>
                                        <img src="/public/images/tin/2019-tin-2.jpg" class="img-fluid" alt="">
                                    </div>
                                    <span>
                                        <p>THỰC SỰ PHỤC VỤ NHÂN DÂN BẰNG "TÂM PHẢI SÁNG" VÀ "TẦM
                                            PHẢI
                                            GIỎI"
                                        </p>
                                        <p><i class="fas fa-clock pr-2"></i>5/5/2019</p>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div>
                                        <img src="/public/images/tin/2019-tin-2.jpg" class="img-fluid" alt="">
                                    </div>
                                    <span>
                                        <p>THỰC SỰ PHỤC VỤ NHÂN DÂN BẰNG "TÂM PHẢI SÁNG" VÀ "TẦM
                                            PHẢI
                                            GIỎI"
                                        </p>
                                        <p><i class="fas fa-clock pr-2"></i>5/5/2019</p>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div>
                                        <img src="/public/images/tin/2019-tin-2.jpg" class="img-fluid" alt="">
                                    </div>
                                    <span>
                                        <p>THỰC SỰ PHỤC VỤ NHÂN DÂN BẰNG "TÂM PHẢI SÁNG" VÀ "TẦM
                                            PHẢI
                                            GIỎI"
                                        </p>
                                        <p><i class="fas fa-clock pr-2"></i>5/5/2019</p>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="cateClassify">
            <div class="row">
                <div class="col-md-6 mainCate ">
                    <a href="">
                        <img src="/public/images/tin/2019-tin-2.jpg" class="img-fluid" alt="">
                        <h4> 3 Nhà giáo trẻ tiêu biểu 2019</h4>
                    </a>
                </div>
                <div class="col-md-6">
                    <div class="cateItem">
                        <ul>
                            <li>
                                <a href="">
                                    <div>
                                        <img src="/public/images/tin/2019-tin-2.jpg" class="img-fluid" alt="">
                                    </div>
                                    <span>
                                        <p>THỰC SỰ PHỤC VỤ NHÂN DÂN BẰNG "TÂM PHẢI SÁNG" VÀ "TẦM
                                            PHẢI
                                            GIỎI"
                                        </p>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div>
                                        <img src="/public/images/tin/2019-tin-2.jpg" class="img-fluid" alt="">
                                    </div>
                                    <span>
                                        <p>THỰC SỰ PHỤC VỤ NHÂN DÂN BẰNG "TÂM PHẢI SÁNG" VÀ "TẦM
                                            PHẢI
                                            GIỎI"
                                        </p>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div>
                                        <img src="/public/images/tin/2019-tin-2.jpg" class="img-fluid" alt="">
                                    </div>
                                    <span>
                                        <p>THỰC SỰ PHỤC VỤ NHÂN DÂN BẰNG "TÂM PHẢI SÁNG" VÀ "TẦM
                                            PHẢI
                                            GIỎI"
                                        </p>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>