<div class="matTran" >
        <div class="headCate">
            <h5>
                <span>ỦY BAN MẶT TRẬN TỔ QUỐC VIỆT NAM QUẬN VÀ ĐOÀN THỂ</span>
            </h5>
        </div>
        <div class="contentCate mt-3">
            <div class="cateClassify activeCate">
                <div class="row">
                    <div class="col-md-6 mainCate ">
                        <a href="">
                            <img src="/public/images/tin/mat-tran.jpg" class="img-fluid" alt="">
                            <h4 class=""> 1MẶT TRẬN TỔ QUỐC VIỆT NAM QUẬN GÒ VẤP XỨNG ĐÁNG LÀ MÁI NHÀ CHUNG CỦA KHỐI ĐẠI ĐOÀN KẾT</h4>
                        </a>
                    </div>
                    <div class="col-md-6 p-0">
                        <div class="cateItem">
                            <ul>
                                <li>
                                    <a href="">
                                        <div>
                                            <img src="/public/images/tin/2019-tin-2.jpg" class="img-fluid" alt="">
                                        </div>
                                        <span>
                                            <p>THỰC SỰ PHỤC VỤ NHÂN DÂN BẰNG "TÂM PHẢI SÁNG" VÀ "TẦM
                                                PHẢI
                                                GIỎI"
                                            </p>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <div>
                                            <img src="/public/images/tin/2019-tin-2.jpg" class="img-fluid" alt="">
                                        </div>
                                        <span>
                                            <p>THỰC SỰ PHỤC VỤ NHÂN DÂN BẰNG "TÂM PHẢI SÁNG" VÀ "TẦM
                                                PHẢI
                                                GIỎI"
                                            </p>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <div>
                                            <img src="/public/images/tin/2019-tin-2.jpg" class="img-fluid" alt="">
                                        </div>
                                        <span>
                                            <p>THỰC SỰ PHỤC VỤ NHÂN DÂN BẰNG "TÂM PHẢI SÁNG" VÀ "TẦM
                                                PHẢI
                                                GIỎI"
                                            </p>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cateClassify">
                <div class="row">
                    <div class="col-md-6 mainCate ">
                        <a href="">
                            <img src="/public/images/tin/2019-tin-2.jpg" class="img-fluid" alt="">
                            <h4>2 Nhà giáo trẻ tiêu biểu 2019</h4>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <div class="cateItem">
                            <ul>
                                <li>
                                    <a href="">
                                        <div>
                                            <img src="/public/images/tin/2019-tin-2.jpg" class="img-fluid" alt="">
                                        </div>
                                        <span>
                                            <p>THỰC SỰ PHỤC VỤ NHÂN DÂN BẰNG "TÂM PHẢI SÁNG" VÀ "TẦM
                                                PHẢI
                                                GIỎI"
                                            </p>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <div>
                                            <img src="/public/images/tin/2019-tin-2.jpg" class="img-fluid" alt="">
                                        </div>
                                        <span>
                                            <p>THỰC SỰ PHỤC VỤ NHÂN DÂN BẰNG "TÂM PHẢI SÁNG" VÀ "TẦM
                                                PHẢI
                                                GIỎI"
                                            </p>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <div>
                                            <img src="/public/images/tin/2019-tin-2.jpg" class="img-fluid" alt="">
                                        </div>
                                        <span>
                                            <p>THỰC SỰ PHỤC VỤ NHÂN DÂN BẰNG "TÂM PHẢI SÁNG" VÀ "TẦM
                                                PHẢI
                                                GIỎI"
                                            </p>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cateClassify">
                <div class="row">
                    <div class="col-md-6 mainCate ">
                        <a href="">
                            <img src="/public/images/tin/2019-tin-2.jpg" class="img-fluid" alt="">
                            <h4> 3 Nhà giáo trẻ tiêu biểu 2019</h4>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <div class="cateItem">
                            <ul>
                                <li>
                                    <a href="">
                                        <div>
                                            <img src="/public/images/tin/2019-tin-2.jpg" class="img-fluid" alt="">
                                        </div>
                                        <span>
                                            <p>THỰC SỰ PHỤC VỤ NHÂN DÂN BẰNG "TÂM PHẢI SÁNG" VÀ "TẦM
                                                PHẢI
                                                GIỎI"
                                            </p>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <div>
                                            <img src="/public/images/tin/2019-tin-2.jpg" class="img-fluid" alt="">
                                        </div>
                                        <span>
                                            <p>THỰC SỰ PHỤC VỤ NHÂN DÂN BẰNG "TÂM PHẢI SÁNG" VÀ "TẦM
                                                PHẢI
                                                GIỎI"
                                            </p>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <div>
                                            <img src="/public/images/tin/2019-tin-2.jpg" class="img-fluid" alt="">
                                        </div>
                                        <span>
                                            <p>THỰC SỰ PHỤC VỤ NHÂN DÂN BẰNG "TÂM PHẢI SÁNG" VÀ "TẦM
                                                PHẢI
                                                GIỎI"
                                            </p>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>