<div class="col-md-6">
    <div class="newTab card">
        <div class="imageNewTab">
                <div class="classifyNews activeClassify">
                    <div class="newImage activeImageNew">
                        <img src="/public/images/tin/2019-tin.jpg" alt="">
                        <div class="titleNew">
                            <p> 1 MÃI TỰ HÀO GÒ MÔN</p>
                        </div>
                    </div>
                    <div class="newImage">
                        <img src="/public/images/tin/tab2.jpg" alt="">
                        <div class="titleNew">
                            <p> 2MÃI TỰ HÀO GÒ MÔN</p>
                        </div>
                    </div>
                    <div class="newImage">
                        <img src="/public/images/tin/tab-3-1.jpg" alt="">
                        <div class="titleNew">
                            <p> 2MÃI TỰ HÀO GÒ MÔN</p>
                        </div>
                    </div>
                    <div class="newImage">
                        <img src="/public/images/tin/ct-bai-viet-4.jpg" alt="">
                        <div class="titleNew">
                            <p> 2MÃI TỰ HÀO GÒ MÔN</p>
                        </div>
                    </div>
                </div>
                <div class="classifyNews">
                    <div class="newImage activeImageNew">
                        <img src="/public/images/tin/tab3.png" alt="">
                        <div class="titleNew">
                            <p> tab2 MÃI TỰ HÀO GÒ MÔN</p>
                        </div>
                    </div>
                    <div class="newImage">
                        <img src="/public/images/tin/2019-tin.jpg" alt="">
                        <div class="titleNew">
                            <p> 2MÃI TỰ HÀO GÒ MÔN</p>
                        </div>
                    </div>
                </div>
                <div class="classifyNews">
                    <div class="newImage activeImageNew">
                        <img src="/public/images/tin/tab2.jpg" alt="">
                        <div class="titleNew">
                            <p> tab3 MÃI TỰ HÀO GÒ MÔN</p>
                        </div>
                    </div>
                    <div class="newImage">
                        <img src="/public/images/tin/ct-bai-viet-3.jpg" alt="">
                        <div class="titleNew">
                            <p> 2MÃI TỰ HÀO GÒ MÔN</p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="listNew">
            <div class="nameTab">
                <div class="btn-group pl-2" role="group" aria-label="Basic example">
                    <button type="button" class="btn activeTab">Tin nổi bật</button>
                    <button type="button" class="btn ">Tin mới nhất</button>
                    <button type="button" class="btn ">Tin đọc nhiều</button>
                </div>
            </div>
            <div class="contentTab" data-scrollbar>
                <div class="tab activeContentNew">
                    <ul>
                        <li><a href=""><i class="fas fa-circle pr-2"></i>1 MẶT TRẬN TỔ QUỐC VIỆT NAM QUẬN GÒ
                                VẤP XỨNG ĐÁNG LÀ MÁI NHÀ CHUNG CỦA
                                KHỐI ĐẠI ĐOÀN KẾT TOÀN DÂN</a></li>
                        <li><a href=""><i class="fas fa-circle pr-2"></i>2 THÔNG BÁO TREO CỜ TỔ QUỐC VÀ NGHỈ
                                LỄ NGÀY CHIẾN THẮNG 30.4 (1975 -
                                2019), NGÀY QUỐC TẾ LAO ĐỘNG 1.5 (1886 - 2019)</a></li>
                        <li><a href=""><i class="fas fa-circle pr-2"></i>3 THÔNG BÁO TREO CỜ TỔ QUỐC VÀ NGHỈ
                                LỄ NGÀY CHIẾN THẮNG 30.4 (1975 -
                                2019), NGÀY QUỐC TẾ LAO ĐỘNG 1.5 (1886 - 2019)</a></li>
                        <li><a href=""><i class="fas fa-circle pr-2"></i>4 THÔNG BÁO TREO CỜ TỔ QUỐC VÀ NGHỈ
                                LỄ NGÀY CHIẾN THẮNG 30.4 (1975 -
                                2019), NGÀY QUỐC TẾ LAO ĐỘNG 1.5 (1886 - 2019)</a></li>

                    </ul>
                </div>
                <div class="tab">
                    <ul>
                        <li><a href="">tab2 MẶT TRẬN TỔ QUỐC VIỆT NAM QUẬN GÒ VẤP XỨNG ĐÁNG LÀ MÁI NHÀ CHUNG
                                CỦA
                                KHỐI ĐẠI ĐOÀN KẾT TOÀN DÂN</a></li>
                        <li><a href=""> THÔNG BÁO TREO CỜ TỔ QUỐC VÀ NGHỈ LỄ NGÀY CHIẾN THẮNG 30.4 (1975 -
                                2019), NGÀY QUỐC TẾ LAO ĐỘNG 1.5 (1886 - 2019)</a></li>
                    </ul>
                </div>
                <div class="tab">
                    <ul>
                        <li><a href=""> tab3 MẶT TRẬN TỔ QUỐC VIỆT NAM QUẬN GÒ VẤP XỨNG ĐÁNG LÀ MÁI NHÀ
                                CHUNG CỦA
                                KHỐI ĐẠI ĐOÀN KẾT TOÀN DÂN</a></li>
                        <li><a href=""> THÔNG BÁO TREO CỜ TỔ QUỐC VÀ NGHỈ LỄ NGÀY CHIẾN THẮNG 30.4 (1975 -
                                2019), NGÀY QUỐC TẾ LAO ĐỘNG 1.5 (1886 - 2019)</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="videoNews card">
        <div class="row">
            <div class="col-md-12">
                <video id="videoNew"
                    src="http://video.hochiminhcity.gov.vn/data/video/20190116/13222180/CoverfbxuanKyHoi2019.mp4"
                    width="100%" height="300" controls autoplay>
                    Your browser does not support the <video> element.
                    </video>
            </div>
            <div class="col-md-12">
                <span class="ml-3"><i class="fas fa-film mr-3"></i>VIDEO MỚI NHẤT</span>
                <div class="listVideo"  data-scrollbar>
                    <ul>
                        <li
                            onclick="changeLink('http://video.hochiminhcity.gov.vn/data/video/20190116/13222180/CoverfbxuanKyHoi2019.mp4')">
                            <div class="videoItem">
                                <img src="/public/images/tin/video/danvankheo2018.jpg" alt="">
                                <p>Nhà giáo trẻ tiêu biểu 2019</p>
                            </div>
                        </li>
                        <li
                            onclick="changeLink('http://video.hochiminhcity.gov.vn/data/video/20181012/13222180/TongketHoidien70 namkiemtraDang.mp4')">
                            <div class="videoItem">
                                <img src="/public/images/tin/video/nam-kiem-tra-dang.jpg" alt="">
                                <p>Kiem tra dang</p>
                            </div>
                        </li>
                        <li
                            onclick="changeLink('http://video.hochiminhcity.gov.vn/data/video/20190116/13222180/CoverfbxuanKyHoi2019.mp4')">
                            <div class="videoItem">
                                <img src="/public/images/tin/video/nam-kiem-tra-dang.jpg" alt="">
                                <p>Kiem tra dang</p>
                            </div>
                        </li>
                        <li>
                            <div class="videoItem">
                                <img src="/public/images/tin/video/nam-kiem-tra-dang.jpg" alt="">
                                <p>Kiem tra dang</p>
                            </div>
                        </li>
                        <li>
                            <div class="videoItem">
                                <img src="/public/images/tin/video/nam-kiem-tra-dang.jpg" alt="">
                                <p>Kiem tra dang</p>
                            </div>
                        </li>
                        <li>
                            <div class="videoItem">
                                <img src="/public/images/tin/video/nam-kiem-tra-dang.jpg" alt="">
                                <p>Kiem tra dang</p>
                            </div>
                        </li>
                        <li>
                            <div class="videoItem">
                                <img src="/public/images/tin/video/nam-kiem-tra-dang.jpg" alt="">
                                <p>Kiem tra dang</p>
                            </div>
                        </li>
                        <li>
                            <div class="videoItem">
                                <img src="/public/images/tin/video/nam-kiem-tra-dang.jpg" alt="">
                                <p>Kiem tra dang</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>