@-webkit-keyframes show{
    0%{top: 3%;left: -30%;opacity: 0;visibility: hidden;} 100%{top: 3%;left: 0;opacity: 1;visibility: visible}
}
@-webkit-keyframes hide{
    0%{top: 3%;left: 0;opacity: 1;visibility: visible} 100%{top: 60%;left: 0;opacity: 0;visibility: hidden}
}
.tinTuc{
    position: relative;
    .active{
        opacity: 1 !important;
        visibility: visible !important;
        animation: show .5s;
    }
    .hide{
        opacity: 0 !important;
        visibility: hidden !important;
        animation: hide .5s;
    }
    .listNews{
        position: absolute;
        top: 3%;
        left: 0;
        .btnNews{
            cursor: pointer;
        }
    }
    .addNews{
        position: absolute;
        top: 3%;
        left: 0;
        opacity: 0;
        visibility: hidden;
    }
}