@font-face{
    font-family: montserrat;
    src:url('/public/font/Montserrat-Black.ttf') format('truetype'),
    url('/public/font/Montserrat-BlackItalic.ttf') format('truetype'),
    url('/public/font/Montserrat-Bold.ttf') format('truetype'),
    url('/public/font/Montserrat-BoldItalic.ttf') format('truetype'),
    url('/public/font/Montserrat-Light.ttf') format('truetype'),
    url('/public/font/Montserrat-LightItalic.ttf') format('truetype'),
    url('/public/font/Montserrat-Regular.ttf') format('truetype'),
    url('/public/font/Montserrat-SemiBold.ttf') format('truetype'),
    url('/public/font/Montserrat-Thin.ttf') format('truetype'),
    url('/public/font/Montserrat-Italic.ttf') format('truetype'),
    url('/public/font/Montserrat-ExtraBold.ttf') format('truetype'),
    url('/public/font/Montserrat-Medium.ttf') format('truetype');

}
header{
    background: linear-gradient(180deg,#000 0,transparent);
    .contact{
        p{
            display: inline-block;
            padding-top: 4%;
            color: white;
            font-size: 14px;
        }
    }
    .search{
        padding-top: 6%;
        form{
            display: flex;
            flex-direction: row;
            input{
                width: 88%;
                text-indent: 15px;
                border: 1px solid black;
                background-color: transparent;
                color: white;
                &:focus{
                    outline: none;
                }
                &::-webkit-input-placeholder{
                    color: white;
                    font-size: 15px;
                }
            }
            button{
                width: 12%;
                border: none;
                background-color: black;
                color: white;
                &:hover{
                    background-color: black;
                    transition: .5s;
                }
            }
        }
      
    }
}


::-webkit-scrollbar{ 
   width: 4px;
}
::-webkit-scrollbar-track { 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    height: 5px;
    background-color: gray;
    &:hover{
        background-color: gray;
        transition: .3s;
    }
}