$colorHead: rgba(3,44,75,.2);
$colorFont: #1ea69a;
header {
   height: 60px;
   background-color: $colorFont;
   position: fixed;
    .topPage {
        ul{
            padding-top: 2%;
          
            li{
                color: white;
                font-size: 14px;
                list-style: none;
                float: left;
                &:hover{
                    color: black;
                    transition: .4s;
                }
               
            }
        }
        .search{
            form{
                input{
                    float: left;
                    width: 83%;
                    height: 60px;
                    background: $colorHead;
                    border:0;
                    outline: 0;
                    color: #dedede;
                    text-indent: 20px;
                    font-weight: 300;
                    font-style: italic;
                    letter-spacing: .3px;
                    font-size: 14px;
                    &::-webkit-input-placeholder{
                        color: #dedede; 
                        font-weight: 300;
                        font-style: italic;
                        font-size: 14px;
                    }
                }
                button{
                    float: right;
                    width: 17%;
                    height: 60px;
                    background-color: rgba(9, 22, 31, 0.62);
                    color: #dedede;
                    border:0;
                    outline: 0;
                }
            }
        }
    }
    .menu{
        height: 100px;
        .listMenu{
            ul{
                li{
                    position: relative;
                    list-style: none;
                    float: left;
                    padding-left: 28px;
                    padding-top: 21px;
                    font-weight: 600;
                    &:hover a::before{
                        opacity: 1;
                        transition: .5s;

                  }
                    a{
                        text-decoration: none;
                        color: white;
                        font-size: 14px;
                        &::before{
                            content: '';
                            width: 30px;
                            height: 3px;
                            background-color: #ffeb00;
                            position: absolute;
                            bottom: -6px;
                            opacity: 0;
                        }
                        &:hover{
                            color: $colorFont;
                            transition: .5s;
                           
                        }
                       

                    }
                }
            }
        }
    }   
}
.banner{
    background-image: url('/public/images/slide1.jpg');
    width: 100%;
    height: 667px;
}







::-webkit-scrollbar{ 
   width: 4px;
}
::-webkit-scrollbar-track { 
    border-radius: 10px;
    background-color: white;
}
::-webkit-scrollbar-thumb{
    height: 5px;
    background-color: gray;
    &:hover{
        background-color: $colorHead;
        transition: .3s;
    }
}