@font-face {
  font-family: montserrat;
  src: url("/public/font/Montserrat-Black.ttf") format("truetype"), url("/public/font/Montserrat-BlackItalic.ttf") format("truetype"), url("/public/font/Montserrat-Bold.ttf") format("truetype"), url("/public/font/Montserrat-BoldItalic.ttf") format("truetype"), url("/public/font/Montserrat-Light.ttf") format("truetype"), url("/public/font/Montserrat-LightItalic.ttf") format("truetype"), url("/public/font/Montserrat-Regular.ttf") format("truetype"), url("/public/font/Montserrat-SemiBold.ttf") format("truetype"), url("/public/font/Montserrat-Thin.ttf") format("truetype"), url("/public/font/Montserrat-Italic.ttf") format("truetype"), url("/public/font/Montserrat-ExtraBold.ttf") format("truetype"), url("/public/font/Montserrat-Medium.ttf") format("truetype"); }
body {
  background-image: url("/public/images/background.png"); }
  body header {
    background: #027fca; }
    body header img {
      width: 400px;
      height: 100px; }
    body header .contact {
      text-align: end; }
      body header .contact p {
        display: inline-block;
        color: white;
        font-size: 14px; }
    body header .search {
      padding-top: 1%; }
      body header .search form {
        display: flex;
        flex-direction: row; }
        body header .search form input {
          width: 88%;
          height: 40px;
          text-indent: 15px;
          border: 1px solid #f3fbe8;
          background-color: #f3fbe8;
          color: black; }
          body header .search form input:focus {
            outline: none; }
          body header .search form input::-webkit-input-placeholder {
            color: black;
            font-size: 15px; }
        body header .search form button {
          width: 12%;
          border: none;
          background-color: #93dfff;
          color: white; }
          body header .search form button:hover {
            background-color: rgba(0, 0, 0, 0.281);
            transition: 0.5s; }
    body header .menu {
      background-color: #fff;
      position: relative;
      box-shadow: 0px 4px 8px 0px #585858de;
      z-index: 10; }
      body header .menu .tab-menu {
        display: none; }
        body header .menu .tab-menu .head-box {
          box-shadow: 0px 4px 8px 0px #585858de; }
          body header .menu .tab-menu .head-box a {
            color: black;
            font-size: 15px;
            text-decoration: none; }
            body header .menu .tab-menu .head-box a:hover {
              color: black; }
          body header .menu .tab-menu .head-box img {
            width: 30px;
            height: 30px;
            float: right; }
      body header .menu .menu-box, body header .menu .normal-menu {
        background-color: #fff; }
        body header .menu .menu-box ul, body header .menu .normal-menu ul {
          display: flex;
          flex-direction: row; }
          body header .menu .menu-box ul li, body header .menu .normal-menu ul li {
            list-style-type: none; }
            body header .menu .menu-box ul li a, body header .menu .normal-menu ul li a {
              color: #333;
              text-decoration: none;
              font-weight: bold;
              font-size: 15px;
              line-height: 58px;
              white-space: nowrap;
              padding: 0px 20px;
              min-width: 110px;
              font-family: "Open Sans", Helvetica, sans-serif; }
      body header .menu .normal-menu {
        height: 60px; }
        body header .menu .normal-menu ul {
          height: 100%; }
          body header .menu .normal-menu ul li:hover {
            background-color: #6363e0;
            transition: 0.5s;
            border-right: white;
            border-left: white; }
            body header .menu .normal-menu ul li:hover a {
              color: white; }
  body .main .content {
    background-color: #0d2038; }
    body .main .content .thumb {
      position: relative;
      margin-left: 5%; }
      body .main .content .thumb .app-menu {
        padding: 2%; }
        body .main .content .thumb .app-menu img {
          width: 90%;
          height: auto; }
    body .main .content .up, body .main .content .down {
      text-align: center; }
      body .main .content .up img, body .main .content .down img {
        cursor: pointer;
        width: 40px;
        height: auto; }
        body .main .content .up img:hover, body .main .content .down img:hover {
          transform: scale(1.3);
          transition: 0.5s; }
    body .main .content .slide {
      height: 400px;
      width: 100%;
      margin-top: 2%; }
      body .main .content .slide img {
        height: 400px;
        width: 100%; }
  body .contentHome {
    padding-top: 1%; }
    body .contentHome .shadow {
      background-color: #fff; }
      body .contentHome .shadow .newTab .imageNewTab .activeClassify {
        display: block !important; }
      body .contentHome .shadow .newTab .imageNewTab .classifyNews {
        display: none; }
        body .contentHome .shadow .newTab .imageNewTab .classifyNews .activeImageNew {
          display: block !important;
          transition: 0.5s; }
        body .contentHome .shadow .newTab .imageNewTab .classifyNews .newImage {
          position: relative;
          display: none; }
          body .contentHome .shadow .newTab .imageNewTab .classifyNews .newImage img {
            width: 100%;
            height: 300px; }
          body .contentHome .shadow .newTab .imageNewTab .classifyNews .newImage .titleNew {
            position: absolute;
            max-height: 15%;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
            background-color: #1b1a1acf; }
            body .contentHome .shadow .newTab .imageNewTab .classifyNews .newImage .titleNew p {
              color: white; }
      body .contentHome .shadow .newTab .listNew {
        width: 100%;
        height: 300px; }
        body .contentHome .shadow .newTab .listNew .nameTab {
          background-image: url("/public/images/bg-tabhead.png");
          background-size: cover;
          box-shadow: inset 0px -1px 1px 0px #d1d1d1; }
          body .contentHome .shadow .newTab .listNew .nameTab button {
            font-size: 14px;
            font-weight: 500;
            margin-top: 2%; }
          body .contentHome .shadow .newTab .listNew .nameTab button.activeTab {
            color: #c10100;
            background-color: white;
            border-bottom: 1px solid white;
            border-left: 1px solid #d1d1d2;
            border-right: 1px solid #d1d1d2;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
            box-shadow: 0px -1px 0px 0px #c3bebe; }
        body .contentHome .shadow .newTab .listNew .contentTab {
          max-height: 86%;
          overflow-x: scroll; }
          body .contentHome .shadow .newTab .listNew .contentTab .tab {
            display: none; }
            body .contentHome .shadow .newTab .listNew .contentTab .tab ul {
              width: 100%;
              padding: 0; }
              body .contentHome .shadow .newTab .listNew .contentTab .tab ul li {
                border-bottom: 1px #c8c8c8 dotted;
                list-style: none;
                text-align: left;
                padding: 3%; }
                body .contentHome .shadow .newTab .listNew .contentTab .tab ul li:last-child {
                  border-bottom: 0; }
                body .contentHome .shadow .newTab .listNew .contentTab .tab ul li:hover {
                  background-color: #d1d1d1;
                  transition: 0.4s; }
                  body .contentHome .shadow .newTab .listNew .contentTab .tab ul li:hover a {
                    color: #c10100; }
                body .contentHome .shadow .newTab .listNew .contentTab .tab ul li i {
                  font-size: 5px;
                  color: black; }
                body .contentHome .shadow .newTab .listNew .contentTab .tab ul li a {
                  text-decoration: none;
                  color: black; }
                  body .contentHome .shadow .newTab .listNew .contentTab .tab ul li a:hover {
                    color: none; }
          body .contentHome .shadow .newTab .listNew .contentTab .activeContentNew {
            display: block; }
      body .contentHome .shadow .videoNews .listVideo {
        width: 100%;
        height: 270px;
        overflow-y: scroll; }
        body .contentHome .shadow .videoNews .listVideo ul {
          padding: 0; }
          body .contentHome .shadow .videoNews .listVideo ul li {
            list-style: none;
            padding: 2%;
            cursor: pointer; }
            body .contentHome .shadow .videoNews .listVideo ul li .videoItem img {
              width: 100px;
              height: auto;
              display: inline-block; }
            body .contentHome .shadow .videoNews .listVideo ul li .videoItem p {
              display: inline-block;
              text-indent: 30px; }
    body .contentHome .hoatDong .headCate {
      width: 100%;
      height: auto;
      position: relative; }
      body .contentHome .hoatDong .headCate::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 5px;
        bottom: 15%;
        left: 0;
        background-color: #f9c100; }
      body .contentHome .hoatDong .headCate h5 {
        width: 25%;
        float: left;
        margin: 0;
        padding: 0;
        color: #fff; }
        body .contentHome .hoatDong .headCate h5 span {
          background-color: #f9c100;
          padding: 5px;
          font-size: 17px;
          font-weight: 400; }
      body .contentHome .hoatDong .headCate .subCate {
        width: 75%;
        display: inline-block; }
        body .contentHome .hoatDong .headCate .subCate ul li {
          list-style: none;
          display: inline;
          padding-left: 12%;
          font-family: roboto, sans-serif;
          font-size: 13px;
          color: #777;
          cursor: pointer; }
          body .contentHome .hoatDong .headCate .subCate ul li:hover {
            color: #f9c100;
            transition: 0.4s; }
        body .contentHome .hoatDong .headCate .subCate ul .activeSubCate {
          color: #f9c100; }
    body .contentHome .hoatDong .contentCate {
      width: 100%; }
      body .contentHome .hoatDong .contentCate .activeCate {
        display: block !important; }
      body .contentHome .hoatDong .contentCate .cateClassify {
        display: none; }
        body .contentHome .hoatDong .contentCate .cateClassify .mainCate a {
          text-decoration: none;
          color: #333; }
          body .contentHome .hoatDong .contentCate .cateClassify .mainCate a:hover {
            color: #f9c100;
            transition: 0.4s; }
          body .contentHome .hoatDong .contentCate .cateClassify .mainCate a h4 {
            padding-top: 3%;
            font-weight: 400;
            font-family: roboto, sans-serif; }
        body .contentHome .hoatDong .contentCate .cateClassify .cateItem {
          max-height: 100%;
          width: 100%; }
          body .contentHome .hoatDong .contentCate .cateClassify .cateItem ul {
            padding: 0; }
            body .contentHome .hoatDong .contentCate .cateClassify .cateItem ul li {
              list-style: none;
              padding-bottom: 2%; }
              body .contentHome .hoatDong .contentCate .cateClassify .cateItem ul li a {
                text-decoration: none;
                color: #111; }
                body .contentHome .hoatDong .contentCate .cateClassify .cateItem ul li a div {
                  width: 35%;
                  float: left; }
                  body .contentHome .hoatDong .contentCate .cateClassify .cateItem ul li a div img {
                    width: 100px;
                    height: 70px; }
                body .contentHome .hoatDong .contentCate .cateClassify .cateItem ul li a span {
                  width: 65%;
                  display: inline-block; }
                  body .contentHome .hoatDong .contentCate .cateClassify .cateItem ul li a span p {
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 600;
                    font-family: roboto, sans-serif; }
                    body .contentHome .hoatDong .contentCate .cateClassify .cateItem ul li a span p:hover {
                      color: #f9c100;
                      transition: 0.4s; }
    body .contentHome .vanHoaXaHoi {
      margin-top: 10%; }
      body .contentHome .vanHoaXaHoi .headCate {
        width: 100%;
        height: auto;
        position: relative; }
        body .contentHome .vanHoaXaHoi .headCate::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 5px;
          bottom: 15%;
          left: 0;
          background-color: #4caf50; }
        body .contentHome .vanHoaXaHoi .headCate h5 {
          width: 25%;
          float: left;
          margin: 0;
          padding: 0;
          color: #fff; }
          body .contentHome .vanHoaXaHoi .headCate h5 span {
            background-color: #4caf50;
            padding: 5px;
            font-size: 17px;
            font-weight: 400; }
        body .contentHome .vanHoaXaHoi .headCate .subCate {
          width: 75%;
          display: inline-block; }
          body .contentHome .vanHoaXaHoi .headCate .subCate ul li {
            list-style: none;
            display: inline;
            padding-left: 2%;
            font-family: roboto, sans-serif;
            font-size: 13px;
            color: #777;
            cursor: pointer; }
            body .contentHome .vanHoaXaHoi .headCate .subCate ul li:hover {
              color: #4caf50;
              transition: 0.4s; }
          body .contentHome .vanHoaXaHoi .headCate .subCate ul .activeSubCate {
            color: #4caf50; }
      body .contentHome .vanHoaXaHoi .contentCate {
        width: 100%; }
        body .contentHome .vanHoaXaHoi .contentCate .activeCate {
          display: block !important; }
        body .contentHome .vanHoaXaHoi .contentCate .cateClassify {
          display: none; }
          body .contentHome .vanHoaXaHoi .contentCate .cateClassify .mainCate a {
            text-decoration: none;
            color: #333; }
            body .contentHome .vanHoaXaHoi .contentCate .cateClassify .mainCate a:hover {
              color: #f9c100;
              transition: 0.4s; }
            body .contentHome .vanHoaXaHoi .contentCate .cateClassify .mainCate a h4 {
              padding-top: 3%;
              font-weight: 400;
              font-family: roboto, sans-serif; }
          body .contentHome .vanHoaXaHoi .contentCate .cateClassify .cateItem {
            max-height: 100%;
            width: 100%; }
            body .contentHome .vanHoaXaHoi .contentCate .cateClassify .cateItem ul {
              padding: 0; }
              body .contentHome .vanHoaXaHoi .contentCate .cateClassify .cateItem ul li {
                list-style: none;
                padding-bottom: 2%; }
                body .contentHome .vanHoaXaHoi .contentCate .cateClassify .cateItem ul li a {
                  text-decoration: none;
                  color: #111; }
                  body .contentHome .vanHoaXaHoi .contentCate .cateClassify .cateItem ul li a div {
                    width: 35%;
                    float: left; }
                    body .contentHome .vanHoaXaHoi .contentCate .cateClassify .cateItem ul li a div img {
                      width: 100px;
                      height: 70px; }
                  body .contentHome .vanHoaXaHoi .contentCate .cateClassify .cateItem ul li a span {
                    width: 65%;
                    display: inline-block; }
                    body .contentHome .vanHoaXaHoi .contentCate .cateClassify .cateItem ul li a span p {
                      font-size: 14px;
                      line-height: 20px;
                      font-weight: 600;
                      font-family: roboto, sans-serif; }
                      body .contentHome .vanHoaXaHoi .contentCate .cateClassify .cateItem ul li a span p:hover {
                        color: #f9c100;
                        transition: 0.4s; }
    body .contentHome .anNinh {
      margin-top: 10%; }
      body .contentHome .anNinh .headCate {
        width: 100%;
        height: auto;
        position: relative; }
        body .contentHome .anNinh .headCate::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 5px;
          bottom: 15%;
          left: 0;
          background-color: #f44336; }
        body .contentHome .anNinh .headCate h5 {
          width: 25%;
          float: left;
          margin: 0;
          padding: 0;
          color: #fff; }
          body .contentHome .anNinh .headCate h5 span {
            background-color: #f44336;
            padding: 5px;
            font-size: 17px;
            font-weight: 400; }
        body .contentHome .anNinh .headCate .subCate {
          width: 75%;
          display: inline-block; }
          body .contentHome .anNinh .headCate .subCate ul li {
            list-style: none;
            display: inline;
            padding-left: 7%;
            font-family: roboto, sans-serif;
            font-size: 13px;
            color: #777;
            cursor: pointer; }
            body .contentHome .anNinh .headCate .subCate ul li:hover {
              color: #f44336;
              transition: 0.4s; }
          body .contentHome .anNinh .headCate .subCate ul .activeSubCate {
            color: #f44336; }
      body .contentHome .anNinh .contentCate {
        width: 100%; }
        body .contentHome .anNinh .contentCate .activeCate {
          display: block !important; }
        body .contentHome .anNinh .contentCate .cateClassify {
          display: none; }
          body .contentHome .anNinh .contentCate .cateClassify .mainCate a {
            text-decoration: none;
            color: #333; }
            body .contentHome .anNinh .contentCate .cateClassify .mainCate a:hover {
              color: #f9c100;
              transition: 0.4s; }
            body .contentHome .anNinh .contentCate .cateClassify .mainCate a h4 {
              padding-top: 3%;
              font-weight: 400;
              font-family: roboto, sans-serif; }
          body .contentHome .anNinh .contentCate .cateClassify .cateItem {
            max-height: 100%;
            width: 100%; }
            body .contentHome .anNinh .contentCate .cateClassify .cateItem ul {
              padding: 0; }
              body .contentHome .anNinh .contentCate .cateClassify .cateItem ul li {
                list-style: none;
                padding-bottom: 2%; }
                body .contentHome .anNinh .contentCate .cateClassify .cateItem ul li a {
                  text-decoration: none;
                  color: #111; }
                  body .contentHome .anNinh .contentCate .cateClassify .cateItem ul li a div {
                    width: 35%;
                    float: left; }
                    body .contentHome .anNinh .contentCate .cateClassify .cateItem ul li a div img {
                      width: 100px;
                      height: 70px; }
                  body .contentHome .anNinh .contentCate .cateClassify .cateItem ul li a span {
                    width: 65%;
                    display: inline-block; }
                    body .contentHome .anNinh .contentCate .cateClassify .cateItem ul li a span p {
                      font-size: 14px;
                      line-height: 20px;
                      font-weight: 600;
                      font-family: roboto, sans-serif; }
                      body .contentHome .anNinh .contentCate .cateClassify .cateItem ul li a span p:hover {
                        color: #f9c100;
                        transition: 0.4s; }
    body .contentHome .matTran {
      margin-top: 10%; }
      body .contentHome .matTran .headCate {
        width: 100%;
        height: auto;
        position: relative; }
        body .contentHome .matTran .headCate::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 5px;
          bottom: -30%;
          left: 0;
          background-color: #4db2ec; }
        body .contentHome .matTran .headCate h5 {
          width: 100%;
          color: #fff; }
          body .contentHome .matTran .headCate h5 span {
            background-color: #4db2ec;
            padding: 5px;
            font-size: 15px;
            font-weight: 400; }
      body .contentHome .matTran .contentCate {
        width: 100%; }
        body .contentHome .matTran .contentCate .activeCate {
          display: block !important; }
        body .contentHome .matTran .contentCate .cateClassify {
          display: none; }
          body .contentHome .matTran .contentCate .cateClassify .mainCate a {
            text-decoration: none;
            color: #333; }
            body .contentHome .matTran .contentCate .cateClassify .mainCate a:hover {
              color: #f9c100;
              transition: 0.4s; }
            body .contentHome .matTran .contentCate .cateClassify .mainCate a h4 {
              padding-top: 3%;
              font-weight: 400;
              font-family: roboto, sans-serif; }
          body .contentHome .matTran .contentCate .cateClassify .cateItem {
            max-height: 100%;
            width: 100%; }
            body .contentHome .matTran .contentCate .cateClassify .cateItem ul {
              padding: 0; }
              body .contentHome .matTran .contentCate .cateClassify .cateItem ul li {
                list-style: none;
                padding-bottom: 2%; }
                body .contentHome .matTran .contentCate .cateClassify .cateItem ul li a {
                  text-decoration: none;
                  color: #111; }
                  body .contentHome .matTran .contentCate .cateClassify .cateItem ul li a div {
                    width: 35%;
                    float: left; }
                    body .contentHome .matTran .contentCate .cateClassify .cateItem ul li a div img {
                      width: 100px;
                      height: 70px; }
                  body .contentHome .matTran .contentCate .cateClassify .cateItem ul li a span {
                    width: 65%;
                    display: inline-block; }
                    body .contentHome .matTran .contentCate .cateClassify .cateItem ul li a span p {
                      font-size: 14px;
                      line-height: 20px;
                      font-weight: 600;
                      font-family: roboto, sans-serif; }
                      body .contentHome .matTran .contentCate .cateClassify .cateItem ul li a span p:hover {
                        color: #f9c100;
                        transition: 0.4s; }
    body .contentHome .pageCoDong .headPage {
      width: 100%;
      height: auto;
      position: relative; }
      body .contentHome .pageCoDong .headPage::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 5px;
        bottom: -25%;
        left: 0;
        background-color: #222; }
      body .contentHome .pageCoDong .headPage h5 {
        width: 100%;
        color: #fff; }
        body .contentHome .pageCoDong .headPage h5 span {
          background-color: #222;
          padding: 5px;
          font-size: 17px;
          font-weight: 400; }
    body .contentHome .pageCoDong .contentCoDong {
      height: 500px; }

::-webkit-scrollbar {
  width: 4px; }

::-webkit-scrollbar-track {
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  height: 5px;
  background-color: gray; }
  ::-webkit-scrollbar-thumb:hover {
    background-color: gray;
    transition: 0.3s; }

@media (max-width: 575px) {
  header .contact {
    text-align: start; }
    header .contact p {
      display: inline-block;
      color: white;
      font-size: 14px;
      float: left; }
  header .search {
    padding-bottom: 2%; }
  header .menu .container {
    padding: 0; }
    header .menu .container .tab-menu {
      display: block;
      height: 50px;
      box-shadow: 0 7px 7px #dadada; }
      header .menu .container .tab-menu a {
        text-decoration: none;
        text-indent: 15px;
        line-height: 50px;
        color: #027fca;
        font-size: 16px;
        font-weight: bold;
        display: inline-block;
        cursor: pointer; }
      header .menu .container .tab-menu img {
        width: 25px;
        height: 25px;
        display: inline-block;
        margin-top: 4%;
        margin-right: 7%;
        cursor: pointer; }
    header .menu .container .menu-box ul, body header .menu .container .normal-menu ul {
      padding: 0;
      display: block;
      position: relative; }
      header .menu .container .menu-box ul li, body header .menu .container .normal-menu ul li {
        border-bottom: 1px dashed gray; }
        header .menu .container .menu-box ul li a, body header .menu .container .normal-menu ul li a {
          text-align: center;
          display: block;
          font-size: 14px; }
    header .menu .container .normal-menu {
      display: none; } }
@media (min-width: 576px) and (max-width: 767px) {
  header .container {
    padding: 0;
    max-width: 100%; }
  header .menu .container .tab-menu {
    display: block;
    height: 50px;
    box-shadow: 0 7px 7px #dadada; }
    header .menu .container .tab-menu a {
      text-decoration: none;
      text-indent: 50px;
      line-height: 50px;
      color: #027fca;
      font-size: 20px;
      font-weight: bold;
      display: inline-block;
      cursor: pointer; }
    header .menu .container .tab-menu img {
      width: 30px;
      height: 30px;
      display: inline-block;
      margin-top: 2%;
      margin-right: 6%;
      cursor: pointer; }
  header .menu .container .menu-box ul, body header .menu .container .normal-menu ul {
    padding: 0;
    display: block;
    position: relative; }
    header .menu .container .menu-box ul li, body header .menu .container .normal-menu ul li {
      border-bottom: 1px dashed gray; }
      header .menu .container .menu-box ul li a, body header .menu .container .normal-menu ul li a {
        text-align: center;
        display: block;
        font-size: 15px; }
  header .menu .container .normal-menu {
    display: none; } }

/*# sourceMappingURL=home.css.map */
