$color-bg:#fff;
.allPage{
    background-color: $color-bg;
    .tuongTacBox{
        width: 100%;
        .contentTuongTac{
            width: 100%;
            img{
                padding: 10%;
            }
    
        }
    }
}
