@media (max-width: 575px) {
  .allPage #bodyPage .tinChung .headTinChung {
    margin: 0 !important; }
    .allPage #bodyPage .tinChung .headTinChung h3 a:before {
      width: 20% !important;
      top: 85% !important;
      left: 33% !important; }
    .allPage #bodyPage .tinChung .headTinChung h3 a:after {
      width: 20% !important;
      top: 85% !important;
      right: 31% !important; }
  .allPage #bodyPage .tinChung .contentTinChung ul li a img {
    width: 45% !important;
    height: 190px !important; }
  .allPage #bodyPage .tinChung .contentTinChung ul li span {
    width: 55% !important; }
    .allPage #bodyPage .tinChung .contentTinChung ul li span a.btn {
      display: none; } }
@media (min-width: 576px) and (max-width: 767px) {
  .allPage #bodyPage .tinChung .headTinChung {
    margin: 0 !important; }
    .allPage #bodyPage .tinChung .headTinChung h3 a:before {
      width: 20% !important;
      top: 85% !important;
      left: 33% !important; }
    .allPage #bodyPage .tinChung .headTinChung h3 a:after {
      width: 20% !important;
      top: 85% !important;
      right: 31% !important; }
  .allPage #bodyPage .tinChung .contentTinChung ul li a img {
    width: 45% !important;
    height: 190px !important; }
  .allPage #bodyPage .tinChung .contentTinChung ul li span {
    width: 55% !important; }
    .allPage #bodyPage .tinChung .contentTinChung ul li span a.btn {
      display: none; } }
@media (min-width: 768px) and (max-width: 991px) {
  .allPage #bodyPage .tinChung .headTinChung h3 a:before {
    width: 20% !important;
    top: 85% !important;
    left: 33% !important; }
  .allPage #bodyPage .tinChung .headTinChung h3 a:after {
    width: 20% !important;
    top: 85% !important;
    right: 31% !important; }
  .allPage #bodyPage .tinChung .contentTinChung ul li a img {
    width: 45% !important;
    height: 190px !important; }
  .allPage #bodyPage .tinChung .contentTinChung ul li span {
    width: 55% !important; }
    .allPage #bodyPage .tinChung .contentTinChung ul li span a.btn {
      display: none; } }
.page-breadcrumb .breadcrumb li a {
  text-decoration: none;
  color: #7b6969;
  font-size: 14px;
  font-weight: 500; }
.page-breadcrumb .breadcrumb li:last-child a {
  color: #dc0808 !important; }

.allPage {
  box-shadow: 0 9px 0 0 rgba(255, 255, 255, 0), 0 -9px 0 0 rgba(255, 255, 255, 0), 10px 0 30px 0 rgba(0, 0, 0, 0.15), -10px 0 30px 0 rgba(0, 0, 0, 0.15); }
  .allPage #bodyPage {
    background-color: #fff; }
    .allPage #bodyPage .tinChung {
      width: 100%; }
      .allPage #bodyPage .tinChung .headTinChung {
        position: relative;
        width: 100%;
        height: 100px;
        max-height: 200px;
        background-color: #f2f2f2;
        margin: 10px 0px 15px 20px; }
        .allPage #bodyPage .tinChung .headTinChung h3 {
          text-align: center;
          font-weight: 400;
          letter-spacing: 2px; }
          .allPage #bodyPage .tinChung .headTinChung h3 a {
            text-decoration: none;
            color: #161616;
            display: block;
            padding-top: 3%; }
            .allPage #bodyPage .tinChung .headTinChung h3 a:hover {
              color: #474747;
              transition: 0.4s; }
            .allPage #bodyPage .tinChung .headTinChung h3 a:before {
              content: "";
              width: 10%;
              height: 10px;
              background: url("/public/images/brixton-border-left.png") 0 1px no-repeat;
              position: absolute;
              left: 40%;
              top: 65%; }
            .allPage #bodyPage .tinChung .headTinChung h3 a:after {
              content: "";
              width: 10%;
              height: 10px;
              background: url("/public/images/brixton-border-right.png") 0 1px no-repeat;
              position: absolute;
              right: 40%;
              top: 65%; }
        .allPage #bodyPage .tinChung .headTinChung h1 {
          letter-spacing: 0; }
      .allPage #bodyPage .tinChung .contentTinChung ul {
        padding-left: 21px; }
        .allPage #bodyPage .tinChung .contentTinChung ul li {
          list-style: none;
          display: inline-block;
          padding: 3% 0% 3% 0px;
          border-bottom: 1px solid rgba(175, 174, 174, 0.397); }
          .allPage #bodyPage .tinChung .contentTinChung ul li a img {
            width: 40%;
            height: 250px;
            float: left; }
          .allPage #bodyPage .tinChung .contentTinChung ul li span {
            width: 60%;
            float: left;
            padding-left: 2%; }
            .allPage #bodyPage .tinChung .contentTinChung ul li span a {
              width: 100%;
              color: black;
              text-decoration: none; }
              .allPage #bodyPage .tinChung .contentTinChung ul li span a:hover {
                color: #b81e1e;
                transition: 0.4s; }
              .allPage #bodyPage .tinChung .contentTinChung ul li span a h3 {
                font-size: 18px;
                font-weight: 500; }
            .allPage #bodyPage .tinChung .contentTinChung ul li span p {
              font-size: 14px;
              font-weight: 400; }
              .allPage #bodyPage .tinChung .contentTinChung ul li span p i {
                font-size: 12px;
                font-weight: 400; }
            .allPage #bodyPage .tinChung .contentTinChung ul li span a.btn {
              background-color: #272727;
              color: white;
              letter-spacing: 2px;
              font-size: 11px;
              padding: 10px 10px 10px 10px; }
              .allPage #bodyPage .tinChung .contentTinChung ul li span a.btn:hover {
                background-color: #696868;
                transition: .5s; }
      .allPage #bodyPage .tinChung .contentTinChung .contentBaiViet img {
        padding-bottom: 3%; }
      .allPage #bodyPage .tinChung .contentTinChung .contentBaiViet span {
        font-size: 12px;
        display: block;
        color: #3b3be7;
        text-align: center;
        padding-bottom: 3%; }
      .allPage #bodyPage .tinChung .tinDaDua h5, .allPage #bodyPage .tinChung .comment h5 {
        color: #e00d0d;
        margin-left: 3%; }
    .allPage #bodyPage .dvCong .card-body ul li {
      list-style: none; }

/*# sourceMappingURL=tinChung.css.map */
