.tinChung {
  width: 100%;
  .headTinChung {
    width: 100%;
    background-color: #6eb48c;
    h5 {
      a {
        text-decoration: none;
        color: white;
        &:hover {
          color: rgba(133, 13, 13, 0.842);
          transition: 0.4s;
        }
      }
    }
  }
  .contentTinChung {
    ul {
      li {
        list-style: none;
        display: inline-block;
        padding-bottom: 1%;
        a {
          width: 100%;
          color: black;
          font-weight: bold;
          text-decoration: none;
          img {
            width: 30%;
            height: 150px;
            float: left;
          }
          span {
            width: 70%;
            float: left;
            padding-left: 2%;
            &:hover{
                color: rgb(141, 11, 11);
                transition: .4s;
            }
          }
        }
      }
    }
    .contentBaiViet{
        img{
            padding-bottom: 3%;
        }
        span{
            font-size: 12px;
            display: block;
            color: rgb(59, 59, 231);
            text-align: center;
            padding-bottom: 3%;
        }
    }
  }
  .tinDaDua{
      h5{
          color: rgb(224, 13, 13);
          margin-left: 3%;
      }
  }
  .comment{
      @extend .tinDaDua;
  }
}
.dvCong{
   .card-body{
       ul{
           li{
               list-style: none;
               
           }
       }
   } 
}
