<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid tinTuc">
    <div class="row ">
        <div class="col-md-12 listNews active">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title float-left">Danh sách bài viết</h3>
                    <div class="float-right">
                        <button class="btn btn-primary btnNews">
                            Thêm
                        </button>
                    </div>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
        <div class="col-md-12 addNews ">
            <div class="card  w-75 mx-auto">
                <div class="card-header text-center bg-primary">
                    <h3 class="card-title">Thêm bài viết</h3>
                </div>
                <div class="card-body">
                    <form action="" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-form-label">Tên tiêu đề</label>
                            <input id="us" type="text" class="form-control form-control-sm" name="tieuDe" required>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Danh mục</label>
                            <select name="cate" class="form-control" id="input-select">
                                <% cate.forEach(function(ele){ %>
                                <option value="ele._id"><%= ele.nameCate %></option>
                                <%}) %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="my-input">Đoạn trích</label>
                            <textarea id="my-input" class="form-control" name="shortContent" rows="3"></textarea>
                        </div>
                        <div class="form-group w-50">
                                <label class="col-form-label">Ảnh nền</label>
                                <input id="us" type="file" class="form-control form-control-sm" name="anh" required>
                            </div>
                        <div class="form-group">
                            <label class="col-form-label">Nội dung chính</label>
                            <textarea id="summernote" name="content"></textarea>
                        </div>
                        <div class="form-group float-right">
                            <button type="submit" class="btn btn-primary">Thêm</button>
                            <button class="btn btn-danger btnExit">Hủy</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>