<div class="contentHome">
    <div class="container shadow pt-3">
        <div class="row">
            <!-- content tab news && video new  -->
            <% include ./layout/tabContent %>
            <!-- end content tab news && video new  -->

            <!-- content category  -->
            <div class="col-md-12 mt-5">
                <div class="row">
                    <div class="col-md-8">
                        <!-- hoat dong cate -->
                        <% include ./layout/hoatDongCate %>
                        <!-- end hoat dong cate -->

                        <!-- van hoa- xa hoi cate -->
                        <% include ./layout/vanHoaCate %>
                        <!-- end van hoa- xa hoi cate -->

                        <!-- an toan - an ninh cate -->
                        <% include ./layout/anNinh %>
                        <!-- end an toan - an ninh cate -->

                        <!-- uy ban mat tran cate -->
                        <% include ./layout/matTranUyBan %>
                        <!-- end uy ban mat tran cate -->
                    </div>
                    <div class="col-md-4">
                        <div class="pageCoDong">
                            <div class="headPage">
                                <h5>
                                    <span>TRANG CỔ ĐÔNG</span>
                                </h5>
                            </div>
                            <div class="contentCoDong">
                                <div><img src="/public/images/tin/co-dong-1.jpg" alt="" class="img-fluid"></div>
                                <div><img src="/public/images/tin/co-dong-2.jpg" alt="" class="img-fluid"></div>
                                <div><img src="/public/images/tin/co-dong-3.jpg" alt="" class="img-fluid"></div>
                            </div>
                            <div class="other d-flex flex-column">
                                <img class="img-fluid" src="/public/images/other/other-1.jpg" alt="">
                                <img class="img-fluid" src="/public/images/other/other-2.jpg" alt="">
                                <img class="img-fluid" src="/public/images/other/other-3.jpg" alt="">
                                <img class="img-fluid" src="/public/images/other/other-4.jpg" alt="">
                                <img class="img-fluid" src="/public/images/other/other-5.jpg" alt="">
                                <img class="img-fluid" src="/public/images/other/other-6.jpg" alt="">
                                <img class="img-fluid" src="/public/images/other/other-7.jpg" alt="">
                                <img class="img-fluid" src="/public/images/other/other-8.jpg" alt="">
                                <img class="img-fluid" src="/public/images/other/other-10.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end content category  -->
        </div>
    </div>
</div>