<div class="contentHome">
    <div class="container shadow pt-3 pb-4">
        <div class="row">
            <!-- content tab news && video new  -->
            <% include ./layout/tabContent %>
            <!-- end content tab news && video new  -->

            <!-- content category  -->
            <div class="col-md-12 mt-5">
                <div class="row">
                    <div class="col-md-8">
                        <!-- hoat dong cate -->
                        <% include ./layout/hoatDongCate %>
                        <!-- end hoat dong cate -->

                        <!-- van hoa- xa hoi cate -->
                        <% include ./layout/vanHoaCate %>
                        <!-- end van hoa- xa hoi cate -->

                        <!-- an toan - an ninh cate -->
                        <% include ./layout/anNinh %>
                        <!-- end an toan - an ninh cate -->

                        <!-- uy ban mat tran cate -->
                        <% include ./layout/matTranUyBan %>
                        <!-- end uy ban mat tran cate -->

                        <!-- phan loai co so content category  -->
                        <div class="coSo shadow mt-5 wow fadeInUp ">
                            <div class="tabCoSo shadow-sm">
                                <ul>
                                    <li><span>PHƯỜNG XÃ</span> </li>
                                    <li><span>QUẬN, HUYỆN</span> </li>
                                    <li><span>SỞ BAN NGÀNH</span> </li>
                                    <li><span>TRUNG ƯƠNG</span> </li>
                                </ul>
                            </div>
                            <div class="contentCs position-relative">
                                    <div class="allContentCoSo activeContentCS ">
                                        <div class="contentCoSo d-flex flex-nowrap">
                                            <ul>
                                                <% for (var i of phuongXa){ %>
                                                <li><a href=""><i class="fas fa-caret-right mr-2"></i><%= i %></a> </li>
                                                <%} %>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="allContentCoSo">
                                        <div class="contentCoSo d-flex flex-nowrap">
                                            <ul>
                                                <% for (var i of quanHuyen){ %>
                                                <li><a href=""><i class="fas fa-caret-right mr-2"></i><%= i %></a> </li>
                                                <%} %>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="allContentCoSo">
                                        <div class="contentCoSo d-flex flex-nowrap">
                                            <ul>
                                                <% for (var i of soBan){ %>
                                                <li><a href=""><i class="fas fa-caret-right mr-2"></i><%= i %></a> </li>
                                                <%} %>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="allContentCoSo">
                                        <div class="contentCoSo d-flex flex-nowrap">
                                            <ul>
                                                <% for (var i of trungUong){ %>
                                                <li><a href=""><i class="fas fa-caret-right mr-2"></i><%= i %></a> </li>
                                                <%} %>
                                            </ul>
                                        </div>
                                    </div>
                            </div>

                        </div>
                        <!-- end phan loai co so content category  -->

                    </div>
                    <div class="col-md-4">
                        <div class="pageCoDong  wow fadeInUp">
                            <div class="headPage">
                                <h5>
                                    <span>TRANG CỔ ĐÔNG</span>
                                </h5>
                            </div>
                            <div class="contentCoDong">
                                <div><img src="/public/images/tin/co-dong-1.jpg" alt="" class="img-fluid"></div>
                                <div><img src="/public/images/tin/co-dong-2.jpg" alt="" class="img-fluid"></div>
                                <div><img src="/public/images/tin/co-dong-3.jpg" alt="" class="img-fluid"></div>
                            </div>
                            <div class="other d-flex flex-column">
                                <a href=""><img class="img-fluid" src="/public/images/other/other-1.jpg" alt=""></a>
                                <a href=""><img class="img-fluid" src="/public/images/other/other-2.jpg" alt=""></a>
                                <a href=""><img class="img-fluid" src="/public/images/other/other-3.jpg" alt=""></a>
                                <a href=""><img class="img-fluid" src="/public/images/other/other-4.jpg" alt=""></a>
                                <a href=""><img class="img-fluid" src="/public/images/other/other-5.jpg" alt=""></a>
                                <a href=""><img class="img-fluid" src="/public/images/other/other-6.jpg" alt=""></a>
                                <a href=""><img class="img-fluid" src="/public/images/other/other-7.jpg" alt=""></a>
                                <a href=""><img class="img-fluid" src="/public/images/other/other-8.jpg" alt=""></a>
                                <a href=""><img class="img-fluid" src="/public/images/other/other-10.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end content category  -->



        </div>
    </div>
</div>