<footer class="mt-3">
    <div>
        <img class="img-fluid" src="/public/images/bg-footer.jpg" alt="">
    </div>

    <p class="mx-auto">
        QUẬN GÒ VẤP - THÀNH PHỐ HỒ CHÍ MINH <br>
        © Mạng Thông Tin tích hợp trên Internet của QUẬN GÒ VẤP(WEBGOVAP)<br>

        Giấy phép số 11/QĐ-STTTT, ngày 11.7.2016 do Sở Thông tin - Truyền thông TP.Hồ Chí Minh cấp<br>

        Cơ quan chủ quản: Ủy ban Nhân dân Quận Gò Vấp - Thành phố Hồ Chí Minh<br>

        Cơ quan thường trực: Văn phòng Hội đồng Nhân dân - Ủy ban Nhân dân Quận<br>

        Địa chỉ tòa soạn: số 332 Quang Trung - Phường 10 - Quận Gò Vấp - Thành phố Hồ Chí Minh<br>

        Điện thoại: (028) 38941929. Email: bantingovap@gmail.com<br>

        ® Ghi rõ nguồn "WEBGOVAP" khi phát hành lại thông tin tại Website này.<br>
    </p>

</footer>