<footer class="mt-3">
    <div>
        <img class="img-fluid" src="/public/images/bg-footer.jpg" alt="">
    </div>

    <span class="mx-auto">
        <p class="mt-5">QUẬN GÒ VẤP - THÀNH PHỐ HỒ CHÍ MINH </p>
        <p>© Mạng Thông Tin tích hợp trên Internet của QUẬN GÒ VẤP(WEBGOVAP)</p>
        <p> Giấy phép số 11/QĐ-STTTT, ngày 11.7.2016 do Sở Thông tin - Truyền thông TP.Hồ Chí Minh cấp</p>
        <p> Cơ quan chủ quản: Ủy ban Nhân dân Quận Gò Vấp - Thành phố Hồ Chí Minh</p>
        <p>Cơ quan thường trực: Văn phòng Hội đồng Nhân dân - Ủy ban Nhân dân Quận</p>
        <p> Địa chỉ tòa soạn: số 332 Quang Trung - Phường 10 - Quận Gò Vấp - Thành phố Hồ Chí Minh</p>
        <p>Điện thoại: (028) 38941929. Email: bantingovap@gmail.com</p>
        <p>® Ghi rõ nguồn "WEBGOVAP" khi phát hành lại thông tin tại Website này.</p>
    </span>

</footer>