<footer>
    <div class="w-100 mx-auto contentFooter ">
        <div class="w-60">
            <p class="mt-5">QUẬN GÒ VẤP - THÀNH PHỐ HỒ CHÍ MINH </p>
            <p> Giấy phép số 11/QĐ-STTTT, ngày 11.7.2016 do Sở Thông tin - Truyền thông TP.Hồ Chí Minh cấp</p>
            <p> Cơ quan chủ quản: Ủy ban Nhân dân Quận Gò Vấp - Thành phố Hồ Chí Minh</p>
            <p>Cơ quan thường trực: Văn phòng Hội đồng Nhân dân - Ủy ban Nhân dân Quận</p>
            <p> Địa chỉ tòa soạn: số 332 Quang Trung - Phường 10 - Quận Gò Vấp - Thành phố Hồ Chí Minh</p>
        </div>
        <div class="w-40">

        </div>

    </div>
    <div class="w-100 copyright d-flex flex-wrap">
        <span class="w-50">
            <p>© Mạng Thông Tin tích hợp trên Internet của QUẬN GÒ VẤP(WEBGOVAP)</p>
            <p>® Ghi rõ nguồn "WEBGOVAP" khi phát hành lại thông tin tại Website này.</p>
        </span>
        <span class="w-50">
            <p>Điện thoại: (028) 38941929 &ensp; Email: bantingovap@gmail.com</p>
        </span>
    </div>
</footer>