<header>
    <div class="row w-100">
      <div class="col-md-12 topPage">
        <div class="container">
          <div class="row h-100">
            <div class="col-md-8">
              <ul class="pt-4">
                <li><i class="fas fa-phone-volume pr-2"></i>(028) 38941929</li>
                <li><i class="far fa-envelope pl-4 pr-2"></i>bantingovap@gmail.com</li>
              </ul>
            </div>
            <div class="col-md-4">
              <div class="search">
                <form action="" method="get">
                  <input type="text" placeholder="Nhập từ khóa..">
                  <button type="submit"><i class="fas fa-search"></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 menu">
        <div class="container">
          <div class="row">
            <div class="col-md-2 pt-3">
              <a href=""><img src="/public/images/logo_4.png" alt="logo" class="img-fluid" width="150px"></a> 
            </div>
            <div class="col-md-10">
              <div class="listMenu">
                <ul>
                  <li><a href=""> TRANG CHỦ</a></li>
                  <li><a href="">GIỚI THIỆU</a></li>
                  <li><a href="">TIN TỨC SỰ KIỆN</a></li>
                  <li><a href="">QUY HOẠCH VÀ PHÁT TRIỂN</a></li>
                  <li><a href="">CÔNG DÂN</a></li>
                  <li><a href="">DOANH NGHIỆP</a</li>
                  <li><a href="">DU LỊCH</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>