
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="Shortcut Icon" href="/public/images/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
    <link href="/public/font/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/admin/css/style.css">
    <link rel="stylesheet" href="/public/fontawesome/css/all.css">
    <link rel="stylesheet" href="/public/stylesheets/Toast.css">
    <link rel="stylesheet" href="/public/admin/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/public/admin/flag-icon-css/flag-icon.min.css">
    <title><%=title%></title>
</head>