<header class="w-100 ">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-6">
              <img src="/public/images/logo_3.png" class="img-fluid" alt="">
            </div>
            <div class="col-12 col-sm-6 col-md-6">
              <div class="row">
                <div class="col-12">
                  <div class="contact pt-2">
                    <p><i class="fas fa-phone-volume pr-2"></i><strong>(028) 38941929</strong></p>
                    <p><i class="far fa-envelope pl-4 pr-2"></i><strong>bantingovap@gmail.com</strong></p>
                  </div>
                </div>
                <div class="col-12">
                  <div class="search">
                    <form action="" method="get">
                      <input type="text" placeholder="Nhập từ khóa....">
                      <button><i class="fas fa-search"></i></button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="menu">
          <div class="container">
            <div class="tab-menu">
              <div class="head-box">
                <a>DANH MỤC</a>
                <img src="/public/images/menu-icon-1.png" alt="">
              </div>
              <div class="menu-box">
                <ul>
                  <li><a href=""> TRANG CHỦ</a></li>
                  <li><a href="">GIỚI THIỆU</a></li>
                  <li><a href="">TIN TỨC SỰ KIỆN</a></li>
                  <li><a href="">QUY HOẠCH VÀ PHÁT TRIỂN</a></li>
                  <li><a href="">CÔNG DÂN</a></li>
                  <li><a href="">DOANH NGHIỆP</a</li> <li><a href="">DU LỊCH</a></li>
                </ul>
              </div>
            </div>
            <div class="normal-menu">
                <ul>
                    <li style="width: 7%;text-align: center;background-color: #6363e0;"><a href="" style="color:white;"><i class="fas fa-home"></i></a></li>
                    <li><a href="">GIỚI THIỆU</a></li>
                    <li><a href="">TIN TỨC SỰ KIỆN</a></li>
                    <li><a href="">QUY HOẠCH VÀ PHÁT TRIỂN</a></li>
                    <li><a href="">CÔNG DÂN</a></li>
                    <li><a href="">DOANH NGHIỆP</a</li> <li><a href="">DU LỊCH</a></li>
                  </ul>
            </div>
          </div>
        </div>
      </header>