<div class="main mt-4">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="thumb owl-carousel owl-theme owl-loaded">
                        <div class="owl-stage-outer">
                            <div class="owl-stage">
                                    <img src="/public/images/slide1.jpg" alt="" class="img-fluid owl-item">
                                    <img src="/public/images/slide2.jpg" alt="" class="img-fluid owl-item">
                                    <img src="/public/images/wallpaper.jpg" alt="" class="img-fluid owl-item">
                            </div>
                        </div>
                        <div class="owl-nav">
                                <div class="owl-prev"><img class="img-fluid" src="/public/images/left-arrow.png" alt=""></div>
                                <div class="owl-next"><img class="img-fluid" src="/public/images/right-arrow.png" alt=""></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>