<div class="main">
    <div class="container p-0" style="background-color: #fff;">
        <div class="trending">
            <div class="container">
                <span>Tin mới <i class="fas fa-hand-point-right pl-3"></i></span>
                <div class="bodyTrending">
                    <ul>
                        <li><a href="">Tin mot trong ngay</a> </li>
                        <li><a href="">Tin hai trong ngay</a> </li>
                        <li><a href="">Tin ba trong ngay</a> </li>
                        <li><a href="">Tin bon trong ngay</a> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content w-100">
            <div class="newsHomeCha w-100 d-flex flex-wrap">
                <div class="itemNewHome">
                    <a href="">
                        <img src="/public/images/slide1.jpg" alt="">
                        <div class="bodyNewsHome">
                            <div class="titleNewsHome mx-auto">
                                <h3>
                                    NÂNG CAO TỶ LỆ NGƯỜI DÂN SỬ DỤNG DỊCH VỤ CÔNG TRỰC TUYẾN CHÍNH LÀ ĐẢM BẢO TÍNH CÔNG
                                    KHAI,
                                    MINH
                                    BẠCH TRONG QUY
                                </h3>
                            </div>
                            <div class="timeNewsHome">
                                <ul>
                                    <li><i class="far fa-folder pr-2"></i>danh muc</li>
                                    <li><i class="far fa-clock pr-2"></i>9/5/2019</li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="itemNewHome">
                        <a href="">
                                <img src="/public/images/wallpaper.jpg" alt="">
                                <div class="bodyNewsHome">
                                    <div class="titleNewsHome mx-auto">
                                        <h3>
                                            NÂNG CAO TỶ LỆ NGƯỜI DÂN SỬ DỤNG DỊCH VỤ CÔNG TRỰC TUYẾN CHÍNH LÀ ĐẢM BẢO TÍNH CÔNG
                                            KHAI,
                                            MINH
                                            BẠCH TRONG QUY
                                        </h3>
                                    </div>
                                    <div class="timeNewsHome">
                                        <ul>
                                            <li><i class="far fa-folder pr-2"></i>danh muc</li>
                                            <li><i class="far fa-clock pr-2"></i>9/5/2019</li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                </div>
            </div>
            <div class="newHomeCha1 w-100">
                <div class=" itemNewHome1">
                    <img src="/public/images/slide1.jpg" alt="">
                    <div class="bodyNewsHome">
                        <div class="titleNewsHome mx-auto">
                            <h3>
                                NÂNG CAO TỶ LỆ NGƯỜI DÂN SỬ DỤNG DỊCH VỤ CÔNG TRỰC TUYẾN CHÍNH LÀ ĐẢM BẢO TÍNH CÔNG
                                KHAI
                            </h3>
                        </div>
                        <div class="timeNewsHome">
                            <ul>
                                <li><i class="far fa-folder pr-2"></i>danh muc</li>
                                <li><i class="far fa-clock pr-2"></i>9/5/2019</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class=" itemNewHome1">
                    <img src="/public/images/slide1.jpg" alt="">
                    <div class="bodyNewsHome">
                        <div class="titleNewsHome mx-auto">
                            <h3>
                                NÂNG CAO TỶ LỆ NGƯỜI DÂN SỬ DỤNG DỊCH VỤ CÔNG TRỰC TUYẾN CHÍNH LÀ ĐẢM BẢO TÍNH CÔNG
                                KHAI,
                                MINH
                                BẠCH TRONG QUY
                            </h3>
                        </div>
                        <div class="timeNewsHome">
                            <ul>
                                <li><i class="far fa-folder pr-2"></i>danh muc</li>
                                <li><i class="far fa-clock pr-2"></i>9/5/2019</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class=" itemNewHome1">
                    <img src="/public/images/slide1.jpg" alt="">
                    <div class="bodyNewsHome">
                        <div class="titleNewsHome mx-auto">
                            <h3>
                                NÂNG CAO TỶ LỆ NGƯỜI DÂN SỬ DỤNG DỊCH VỤ CÔNG TRỰC TUYẾN CHÍNH LÀ ĐẢM BẢO TÍNH CÔNG
                                KHAI,
                                MINH
                                BẠCH TRONG QUY
                            </h3>
                        </div>
                        <div class="timeNewsHome">
                            <ul>
                                <li><i class="far fa-folder pr-2"></i>danh muc</li>
                                <li><i class="far fa-clock pr-2"></i>9/5/2019</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>