<div class="main mt-4">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="thumb owl-carousel owl-theme owl-loaded">
                        <div class="owl-stage-outer">
                            <div class="owl-stage">
                                <img src="/public/images/slide1.jpg" alt="" class="img-fluid owl-item">
                                <img src="/public/images/slide2.jpg" alt="" class="img-fluid owl-item">
                                <img src="/public/images/wallpaper.jpg" alt="" class="img-fluid owl-item">
                            </div>
                        </div>
                        <div class="owl-nav">
                            <div class="owl-prev"><img class="img-fluid" src="/public/images/left-arrow.png" alt="">
                            </div>
                            <div class="owl-next"><img class="img-fluid" src="/public/images/right-arrow.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 mainPageApp">
                    <div class="container">
                        <div class="w-100 bg-light h-100">
                            <h4></h4>
                        </div>
                        <div class="pageSearch">
                            <div class="nutPrev"><img src="/public/images/left-arrow-carousel.png" alt=""></div>
                            <div class="nutNext"><img src="/public/images/right-arrow-carousel.png" alt=""></div>
                            <ul>
                                <li>
                                    <div class="layout">
                                        <a href=""><img src="/public/images/kenh-tuong-tac.jpg" alt=""></a>
                                    </div>

                                </li>
                                <li>
                                    <div class="layout">
                                        <a href=""><img src="/public/images/cong-truc-tuyen.jpg" alt=""></a>
                                    </div>

                                </li>
                                <li>
                                    <div class="layout">
                                        <a href=""><img src="/public/images/do-thi-thong-minh.jpg" alt=""></a>
                                    </div>

                                </li>
                                <li>
                                    <div class="layout">
                                        <a href=""><img src="/public/images/thu-tuc-hanh-chinh.jpg" alt=""></a>
                                    </div>

                                </li>
                                <li>
                                    <div class="layout">
                                        <a href=""><img src="/public/images/tra-cuu.jpg" alt=""></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>