
<!-- ============================================================== -->
  <!-- Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <aside class="left-sidebar position-fixed" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="p-t-30">
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin" aria-expanded="false"><i class="fas fa-columns"></i><span class="hide-menu">Dashboard</span></a></li>
                <% if(user.role == 1){ %>
                    <li class="sidebar-item">
                        <a href="/admin/tai-khoan" class="sidebar-link"><i class="fas fa-address-book"></i>Tài
                            Khoản</a>
                    </li>
                    <%} %>
                    <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fas fa-tasks"></i>
                        <span>QL Tin Tức</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <ul aria-expanded="false" class="collapse  first-level">
                            <li class="sidebar-item"><a href="/admin/tin-tuc/bai-viet" class="sidebar-link"><i class="far fa-newspaper"></i><span class="hide-menu">Bài viết</span></a></li>
                            <li class="sidebar-item"><a href="/admin/tin-tuc/danh-muc" class="sidebar-link"><i class="fas fa-book"></i><span class="hide-menu">Danh mục</span></a></li>
                            <li class="sidebar-item"><a href="/admin/tin-tuc/loai-danh-muc" class="sidebar-link"><i class="fas fa-poll-h"></i><span class="hide-menu">Loại danh mục</span></a></li>
                        </ul>
                    </li>
                    <li class="sidebar-item"><a href="/admin/linh-vuc" class="sidebar-link"><i class="fas fa-layer-group"></i>Lĩnh Vực</a></li>
                    <li class="sidebar-item"> <a href="/admin/co-quan-ban-hanh" class="sidebar-link"><i class="fab fa-magento"></i>Cơ Quan</a></li>
                    <li class="sidebar-item">
                        <a href="/admin/gop-y" class="sidebar-link"><span><i class="fas fa-envelope-open-text"></i>Góp Ý</span><span id="countGY" style="width: 20px;border-radius: 20px;height: 20px;text-align: center;background-color: red; margin-left: 5%; line-height: 21px;"><%= count %></span></a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/admin/binh-luan" class="sidebar-link"><i class="fas fa-comments"></i>Bình Luận</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/admin/thu-tuc-hanh-chinh" class="sidebar-link"><i class="fab fa-ethereum"></i>Thủ Tục Hành
                            Chính</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/admin/chat" class="sidebar-link"><i class="far fa-comment-alt"></i>Chat
                        </a>
                    </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->