<div class="trending">
    <div class="container">
        <span>Tin mới <i class="fas fa-hand-point-right pl-3"></i></span>
        <div class="bodyTrending">
            <ul>
                <% if(tinMoi){ %>
                <% tinMoi.forEach(function(ele){ %>
                <li><a href="/bai-viet/<%=ele.linkSEO%>.<%=ele._id%>" class=" d-inline-block text-truncate pt-1" style="max-width: 650px;"><%=ele.title%></a> </li>
                <%})} %>
            </ul>
        </div>
    </div>
</div>